<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.pangyapangya.beans.vo.TestingVO" alias="testingVO"/>
        <typeAlias type="com.example.pangyapangya.beans.vo.TestingImgVO" alias="testingImgVO"/>
        <typeAlias type="com.example.pangyapangya.beans.vo.TestingRequestVO" alias="testingRequestVO"/>
        <typeAlias type="com.example.pangyapangya.beans.vo.TestingReviewBoardVO" alias="testingReviewBoardVO"/>
    </typeAliases>
</configuration>