<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.pangyapangya.beans.vo.TestingVO" alias="testingVO"/>
        <typeAlias type="com.example.pangyapangya.beans.vo.TestingImgVO" alias="testingImgVO"/>
        <typeAlias type="com.example.pangyapangya.beans.vo.TestingRequestVO" alias="testingRequestVO"/>
        <typeAlias type="com.example.pangyapangya.beans.vo.TestingReviewBoardVO" alias="testingReviewBoardVO"/>
        <typeAlias type="com.example.pangyapangya.beans.vo.UserVO" alias="UserVO"/>
        <typeAlias type="com.example.pangyapangya.beans.vo.BakeryVO" alias="bakeryVO"/>
        <typeAlias type="com.example.pangyapangya.beans.vo.BakeryFileVO" alias="bakeryFileVO"/>
        <typeAlias type="com.example.pangyapangya.beans.vo.TestingFileVO" alias="testingFileVO"/>
        <typeAlias type="com.example.pangyapangya.beans.vo.CeoVO" alias="CeoVO"/>
        <typeAlias type="com.example.pangyapangya.beans.vo.ClassCeoVO" alias="classCeoVO"/>
        <typeAlias type="com.example.pangyapangya.beans.vo.ClassReplyVO" alias="classReplyVO"/>
        <typeAlias type="com.example.pangyapangya.beans.vo.ClassReplyFileVO" alias="classReplyFileVO"/>
        <typeAlias type="com.example.pangyapangya.beans.vo.BreadReviewVO" alias="breadReviewVO"/>
        <typeAlias type="com.example.pangyapangya.beans.vo.ClassCeoFileVO" alias="classCeoFileVO"/>
        <typeAlias type="com.example.pangyapangya.beans.vo.CartVO" alias="CartVO"/>
    </typeAliases>
</configuration>