<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>빵야빵야 | 빵 상세보기</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<style>
    .content{
        width: 600px;
    }
</style>
<body>
<!-- Header -->
<header id="header">

    <!-- Logo -->
    <span class="logo">
						<a href="index.html">Faction</a>
						<span>By Pixelarity</span>
					</span>

    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li>
                <a href="#" class="icon solid fa-angle-down">Dropdown</a>
                <ul>
                    <li><a href="#">Option One</a></li>
                    <li><a href="#">Option Two</a></li>
                    <li><a href="#">Option Three</a></li>
                    <li>
                        <a href="#">Submenu</a>
                        <ul>
                            <li><a href="#">Option One</a></li>
                            <li><a href="#">Option Two</a></li>
                            <li><a href="#">Option Three</a></li>
                            <li><a href="#">Option Four</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="generic.html">Generic</a></li>
            <li><a href="elements.html">Elements</a></li>
            <li><a href="#" class="button">Log In</a></li>
        </ul>
    </nav>

</header>
    <div class="contentContainer">
        <div class="content">
            <section id="product">
                <div>
                     <ul>
                         <li class="ui-slide" data-trigger-preview="open" style="background-image: url(&quot;https://image.idus.com/image/files/f0d9719407384a68bdca47ff0c0b2b16_512.jpg&quot;); width: 560px; height: 800px;" data-index="0">

                         </li>
                     </ul>
                </div>
            </section>
        </div>
        <aside class="breadList_detail">
            <div>
                <div class="maker">
                    아이디어스
                </div>
                <div class="product_name">
                    브라우니
                </div>
            </div>
        </aside>
    </div>
</body>
</html>