<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>
<head>
	<title>빵야빵야(屋)</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" href="/css/main.css" />
</head>
<body class="is-preload" style="padding: 10em 200px 0 200px;">

<!-- Footer -->
<footer id="footer" th:fragment="footer_body">
	<div class="inner">
		<section class="info">
			<div class="team">
				<article>
					<p>
						<strong class="name">Policies</strong>
						<a href="/main/rule" class="title">서비스 이용약관</a><br>
						<a href="/main/privacy" class="title">개인정보 처리 방침</a>
					</p>
				</article>
				<article>
					<p>
						<strong class="name">Support</strong>
						<a href="/main/error" class="title">자주 묻는 질문</a><br>
						<a href="/test/list" class="title">이벤트</a>
					</p>
				</article>
			</div>
			<div class="team">
				<article>
					<p>
						<strong class="name">메일</strong>
						<span class="title">BBangya@gmail.com</span><br>
					</p>
				</article>
				<article>
					<p>
						<strong class="name">제휴문의</strong>
						<span class="title">BBangyaSupport@gmail.com</span><br>
					</p>
				</article>
				<article>
					<p>
						<strong class="name">빵야빵야(屋) 고객센터</strong>
						<span class="title">1588-8888(주 7일 오전 10시~저녁 10시까지)</span>
					</p>
				</article>
			</div>
			<div class="team">
				<p>
					<strong class="name">Follow us</strong>
				</p>
				<ul class="contact-icons">
					<li class="icon brands fa-dribbble">
						<span><strong>Blog</strong></span><br>
						<a href="https://blog.naver.com/yejine98" target="_blank">yeahdy</a><br>
					</li>
					<li class="icon brands fa-github">
						<span><strong>Github</strong></span><br>
						<a href="https://github.com/yeahdy" target="_blank">yeahdy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="https://github.com/HanJunKyu" target="_blank">HanJunKyu</a><br>
						<a href="https://github.com/gomjiyun" target="_blank">gomjiyun</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="https://github.com/hyeongjin0706" target="_blank">hyeongjin0706</a><br>
						<a href="https://github.com/hyunjuu" target="_blank">hyunjuu</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="https://github.com/CraBk94" target="_blank">CraBk94</a>
					</li>
				</ul>
			</div>
		</section>
	</div>

	<div class="copyright">
		&copy; Copyright 2021 BBangyaBBangya(屋) inc, ltd. All rights reserved
	</div>
</footer>


<!-- Scripts -->
<script src="https://kit.fontawesome.com/8eb5905426.js" crossorigin="anonymous"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
</body>
</html>