<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>
<head>
	<title>회원가입(일반회원) | 빵야빵야(屋)</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/login.css" />
	<style th:replace="/main/header::header_style"></style>
	<style>
		.form_title{
			margin: 0px 0px 5px 0;
			text-align: left;
			font-weight: 500;
			line-height: 20px;
		}

		/* 회원가입 구분 */
		.box {
			display: flex;
			justify-content: center;
			width: 460px;
			margin: 0 auto;
			cursor: pointer;
			padding: 1em;
		}

		.box li {
			width: 50%;
			cursor: pointer;
			list-style: none;
			float: left;
		}

		.box h4{
			margin-bottom: 0em;
		}

		.box a {
			font-size: 18px;
		}

	</style>
</head>
<body class="is-preload" style="padding: 5em 200px 0 200px;background-color: white;">

<!-- Header -->
<header id="header" th:replace="/main/header::header_body">

</header>

<!-- Wrapper -->
	<!-- Main -->
	<section class="cont_login container">
		<form action="#" method="post" id="frm-login">
			<div class="box">
				<li style="border-right: 1px solid #dcdcdc">
						<h4><a href="/main/join"><strong style="color: #F9A825; border-bottom: 1px solid">일반회원</strong></a></h4>
				</li>
				<li>
					<h4><a href="/main/joinCEO"><strong>사장님</strong></a></h4>
				</li>
			</div>
			<div class="box_login login_email" style="height: 1100px">
				<h2 class="tit">간편하게 가입하고<br><strong style="color: #F9A825">빵야빵야(屋)의</strong><br> 다양한 빵을 먹어보세요.</h2>
				<div class="box_inp">
					<div class="line_inp">
						<p class="form_title">아이디</p>
						<input type="text" name="userid" id="userid" placeholder="아이디를 입력해주세요">
						<p class="info_error" id="idError1">아이디를 입력해주세요.</p>
					</div>
					<p class="form_title">비밀번호</p>
					<div class="line_inp line_pw">
						<input type="password" name="userPassword" id="userPassword" placeholder="비밀번호를 입력해주세요">
						<button type="button" class="type_pwd hide"></button>
						<p class="info_error" id="passError1">비밀번호는 영문 숫자조합 8자리 이상 입력해주세요.</p>
						<p class="info_error" id="passError2">비밀번호를 입력해주세요.</p>
					</div>
					<div class="line_inp line_pw">
						<input type="password" name="confirm" id="confirm" placeholder="비밀번호를 재입력해주세요">
						<button type="button" class="type_pwd hide"></button>
						<p class="info_error" id="confirmError1">입력하신 비밀번호가 서로 다릅니다.</p>
					</div>
					<div class="line_inp">
						<p class="form_title">이름</p>
						<input type="text" name="userName" id="userName" placeholder="이름(실명)을 입력해주세요">
						<p class="info_error" id="nameError1">이름(실명)을 입력해주세요.</p>
					</div>
					<!-- 이메일 인증 할지 말지 고민
					<div class="line_inp">
						<p class="form_title">이메일</p>
						<input type="text" name="email" id="userEmail" placeholder="이메일 주소를 입력해주세요">
						<p class="info_error" id="emailError1">이메일 형식에 맞지 않습니다.</p>
						<p class="info_error" id="emailError2">이메일 주소를 입력해주세요.</p>
					</div>
					-->
					<div class="line_inp">
						<p class="form_title">휴대폰 번호</p>
						<input type="tel" class="inp" name="userPhoneNum" id="userPhoneNum" placeholder="휴대폰 번호를 - 없이 입력해주세요" style="width: calc(100% - 110px);float: left;">
						<p class="info_error" id="phoneNumError1">휴대폰 번호 입력해주세요.</p>
						<input type="button" value="SMS 전송" style="width: 100px;padding: 0px;" />
					</div>
					<div class="line_inp">
						<p class="form_title">인증번호</p>
						<input class="inp" id="inp-auth-number" type="tel" placeholder="SMS로 수신된 인증번호 5자리를 입력해주세요" style="width: calc(100% - 110px);float: left;">
						<input type="button" id="btn-confirm" value="인증" style="width: 100px;padding: 0px;" />
					</div>
					<div class="line_inp">
						<p class="form_title">주소</p>
						<input type="text" class="inp" id="sample6_postcode" placeholder="우편번호" style="width: calc(100% - 110px);float: left;">
						<input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기" style="width: 100px;padding: 0px;font-size: 13px"><br>
						<input type="text" id="sample6_address" placeholder="주소">
						<input type="text" id="sample6_detailAddress" placeholder="상세주소">
						<p class="info_error" id="shopAddressError1">가게 주소를 입력해주세요.</p>
					</div>
				</div>
				<div class="col-6 col-12-medium">
					<ul class="actions fit" style="margin-bottom: 3em;">
						<li><a href="/main/joinConfirm" class="button primary fit" style="margin-top: 1em;">다음</a></li>
					</ul>
				</div>
			</div>
		</form>
	</section>
<!-- Footer -->
<footer id="footer" th:include="/main/footer::footer_body"></footer>


<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script th:replace="/main/header::header_js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript">

	//비밀번호 숨기기
	$('.type_pwd').on('click',function() {
		var $this = $(this);
		$this.toggleClass('hide');
		if($this.hasClass('hide')){
			$this.prev('input').prop('type','password');
		}else{
			$this.prev('input').prop('type','text');
		}
	});

	// 다음 주소 api
	function sample6_execDaumPostcode() {
		new daum.Postcode({
			oncomplete: function(data) {
				// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

				// 각 주소의 노출 규칙에 따라 주소를 조합한다.
				// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
				var addr = ''; // 주소 변수
				var extraAddr = ''; // 참고항목 변수

				//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
				if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
					addr = data.roadAddress;
				} else { // 사용자가 지번 주소를 선택했을 경우(J)
					addr = data.jibunAddress;
				}

				// 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
				if(data.userSelectedType === 'R'){
					// 법정동명이 있을 경우 추가한다. (법정리는 제외)
					// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
					if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
						extraAddr += data.bname;
					}
					// 건물명이 있고, 공동주택일 경우 추가한다.
					if(data.buildingName !== '' && data.apartment === 'Y'){
						extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
					}
					// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
					if(extraAddr !== ''){
						extraAddr = ' (' + extraAddr + ')';
					}
					// 조합된 참고항목을 해당 필드에 넣는다.
					document.getElementById("sample6_extraAddress").value = extraAddr;

				} else {
					document.getElementById("sample6_extraAddress").value = '';
				}

				// 우편번호와 주소 정보를 해당 필드에 넣는다.
				document.getElementById('sample6_postcode').value = data.zonecode;
				document.getElementById("sample6_address").value = addr;
				// 커서를 상세주소 필드로 이동한다.
				document.getElementById("sample6_detailAddress").focus();
			}
		}).open();
	}

</script>
</body>
</html>