<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>
<head>
	<title>빵야빵야(屋)</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="icon" type="image/png"  href="/images/favicon.png"/>
	<style th:replace="/main/header::header_style"></style>
	<style>
		body{
			padding: 5em 200px 0 200px;
		}

		.spotlights a{
			font-weight: bold;
			font-size: 12px;
			color: black;
		}

		.spotlights p{
			/*margin-bottom: 1em;*/
			font-size: 11px;
		}

		p { margin: 0 0 1em 0; }
		/* 갤러리 */
		.spotlights > article {
			padding: 1.0em 1.5em 0.5em 1.5em;
			border-style: solid;
			border-width: 0px 0px 0px 0px;
			width: 25%;
		}

		.image.fit img {
			border-radius: 5px;
		}

		h4 {
			font-weight: 700;
			font-size: large;
			color: black;
			display: inline-block;
			border-bottom: 2px solid #666;
		}

		h2{
			font-weight: bolder;
			font-size: xx-large;
		}

		.class_price{
			font-weight: bolder;
			margin: 0px;
			font-size: 18px !important;
			color: #F9A825;
			text-align: start;
		}

		.reviewCnt{
			font-weight: 600;
			text-align: start;
		}

		.moreView{
			text-align: right;
			float: right;
			font-weight: 700;
		}

		.reviewId{
			font-size: small;
		}

		/* Tasting Review */
        .article_tastingRe {
            border-width: 0px 0px 0px 0px !important;
            width: 33.33333% !important;
        }
		.reviewBox{
			background: #f5f5f5;margin-bottom: 1em;
			border: solid 0px;
			border-radius: 5px;
            height: 19.5em;
            overflow: hidden;
		}

		.reviewBox div{
			margin-bottom: 2rem;
		}
	</style>
	<!-- 미디어 쿼리 -->
	<style>
		@media screen and (max-width: 980px) {
			body{
				padding: 0px;
			}

			.wrapper{
				width: calc(100% - 0em);
			}

			.spotlights > article {
				width: 25%;
				border-width: 0px;
				padding: 1em 1em 0.5em 1em;
			}

			.spotlights p {
				font-size: x-small;
			}

			.spotlights a {
				font-size: x-small;
			}

			h4{
				font-size: inherit;
			}

			h2{
				font-size: x-large;
			}

			.moreView{
				font-size: 11px;
			}

			.reviewId{
				font-size: x-small;
			}
		}
	</style>
</head>
<body class="is-preload">

<!-- Header -->
<header id="header" th:include="/main/header::header_body"></header>

<!-- Wrapper -->
<div class="wrapper">
	<!-- Main -->
	<section class="main">

		<!-- Banner -->
		<section id="banner">
			<article>
				<div class="inner">
					<img src="/images/mainBread4.png" alt="메인베너1">
					<h2><span style="font-size: 27px">올 겨울을 특별하게 만들어줄</span><br>독일 케이크 슈톨렌❄</h2>
					<p>가족, 연인, 친구 등 고마운 사람들에게 감동을 전하세요!</p>
					<ul class="actions">
						<li><a class="button" href="/main/breadList">빵 담으러 가기</a></li>
					</ul>
				</div>

			</article>
			<article>
				<div class="inner">
					<img src="/images/mainBread1.jpg" alt="메인베너2">
					<h2>엄선된 재료로 만든 영양가득 통밀빵</h2>
					<p>10여가지 이상의 곡물이 첨가된 다양한 종류의 빵을 만나보세요</p>
					<ul class="actions">
						<li><a class="button" href="/main/breadList">바로 구경가기</a></li>
					</ul>
				</div>
			</article>
			<article>
				<div class="inner">
					<img src="/images/휘낭시에1.jpg" alt="메인베너3">
					<h2><span>인기 빵집</span>에서 무료로 빵 먹자!</h2>
					<p>3초만에 빵 체험단 신청하고, 맛집 빵 무료로 맛보기</p>
					<ul class="actions">
						<li><a class="button" href="/test/list">실시간 모집 보러가기</a></li>
					</ul>
				</div>
			</article>
			<article>
				<div class="inner">
					<img src="/images/mainBread2.jpg" alt="메인베너4">
					<h2>빵순이 빵돌이 다 모여라🍞</h2>
					<p>베이킹? 아무것도 몰라도 괜찮아! 직접 맛집 빵 만들러 가자!</p>
					<ul class="actions">
						<li><a class="button" href="/class/classMain">실시간 신청하기</a></li>
					</ul>
				</div>
			</article>
		</section>

		<!-- Blurb 1 -->
		<section style="padding-top: 2.0em;padding-bottom: 0em;">
			<h4>따끈따끈 오늘의 빵</h4>
		</section>

		<!-- 오늘의 빵 -->
		<section class="spotlights alt">
			<article th:each="bakery : ${breadList}">
				<th:block  th:object="${bakery}">
					<a th:href="*{bno}" class="image fit goInfo"><img th:src="*{bakeryPhoto}" alt=""></a>
					<a th:href="*{bno}" class="bakery-name goInfo" name="shopName" th:text="*{shopName}"></a>
					<p th:text="|*{#strings.substring(content,0,50)}...|"></p>
					<p class="class_price"><span th:text="|*{#numbers.formatInteger(breadPrice,3,'COMMA')} ₩|"></span></p>
					<p th:text="|리뷰 *{replyCount} 개|" class="reviewCnt"></p>
				</th:block>
			</article>
			<br>
			<div class="col-6 col-12-medium">
				<ul class="actions fit">
					<li><a href="/main/breadList" class="button primary fit" style="margin-top: 1em;">오늘의 빵 더보기</a></li>
				</ul>
			</div>
		</section>


		<!-- Blurb 2 -->
		<section style="padding-top: 2.0em;padding-bottom: 0em;border-top: none;">
			<h4>요즘 인기 빵 직접 만드는 원데이 클래스</h4>
		</section>

		<!-- 원데이 클래스 -->
		<section class="spotlights alt">
			<th:block th:each="class : ${classList}">
			<article th:object="${class}">
				<a th:href="*{bno}" class="image fit goRead_class"><img th:src="*{classPhoto}" alt=""></a>
				<p th:text="*{shopName}" style="margin-bottom: 0em"></p>
				<a class="goRead_class" th:href="*{bno}" th:text="*{title}"></a>
				<p class="class_price"><span th:text="|*{#numbers.formatInteger(classPrice,3,'COMMA')} ₩|"></span></p>
				<p th:text="|리뷰 *{replyCount} 개|" class="reviewCnt"></p>
			</article>
			</th:block>
			<br>
			<div class="col-6 col-12-medium">
				<ul class="actions fit">
					<li><a href="/class/classMain" class="button primary fit" style="margin-top: 1em;">원데이 클래스 더보기</a></li>
				</ul>
			</div>
		</section>

		<!-- Blurb 3 -->
		<section style="padding-top: 2.0em;padding-bottom: 0em;border-top: none;">
			<h4>빵 체험단 실시간 모집!</h4>
			<a href="/test/list" class="moreView">더보기</a>
		</section>

		<!-- 빵체험단 모집 -->
		<section class="spotlights alt" id="testList">
			<th:block th:each="item : ${tasting}">
			<article style="border-width: 0px 0px 0px 0px;width: 33.33333%;" th:object="${item}" class="item">
				<a th:href="*{tno}" class="image fit goRead"><img th:src="*{testingPhoto}" alt=""></a>
				<a th:href="*{tno}" th:text="*{shopName}" class="goRead"></a>
				<p th:text="*{title}"></p>
			</article>
			</th:block>
			<br>
		</section>

		<!-- Blurb 4 -->
		<section style="padding-top: 2.0em;padding-bottom: 0em;border-top: none;">
			<h4>빵 체험단 실시간 리뷰!</h4>
			<a href="/test/review" class="moreView">더보기</a>
		</section>

		<!-- 빵 체험단 리뷰 -->
		<section class="spotlights alt">
			<th:block th:each="review : ${tastingRe}">
			<article class="article_tastingRe" th:object="${review}">
				<a th:href="*{tno}" class="image fit goRead"><img  th:src="*{testingPhoto}" alt=""></a>
				<a th:href="*{tno}" th:text="*{shopName}" class="goRead tastingReTNO"></a>
				<p th:text="*{title}"></p>
				<!--<p style="font-weight: 600;" th:text="'리뷰 '+*{reviewCnt}+' 개'"></p>-->
			</article>
            </th:block>
            <br>
            <!-- 사용자 댓글 -->
            <article class="article_tastingRe">
                <div class="box reviewBox" id="reviewAppend1"></div>
            </article>
            <article class="article_tastingRe">
                <div class="box reviewBox" id="reviewAppend2"></div>
            </article>
            <article class="article_tastingRe">
                <div class="box reviewBox" id="reviewAppend3"></div>
            </article>
		</section>

	</section>
</div>

<div th:if="${check == 'true'}">
	<input type="hidden" id="update_True" th:value="${check}" />
</div>

<!-- Footer -->
<footer id="footer" th:include="/main/footer::footer_body"></footer>

<!-- Scripts -->
<script src="https://kit.fontawesome.com/8eb5905426.js" crossorigin="anonymous"></script>
<script src="/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script th:replace="/main/header::header_js"></script>
<script type="text/javascript" th:inline="javascript">

	$(document).ready(function () {
		// 오늘의 빵
		$("a.goInfo").on("click", function (e) {
			e.preventDefault();
			location.href = "/main/breadDetail?bno=" + $(this).attr("href");
		})

		//원데이 클래스
		$("a.goRead_class").on("click", function (e) {
			e.preventDefault();
			location.href = "/class/classDetail?bno=" + $(this).attr("href");
		})

		// 빵 체험단 모집
		$("a.goRead").on("click", function (e) {
			e.preventDefault();
			location.href = "/test/read?tno=" + $(this).attr("href");
		})

		// 빵 체험단 실시간 리뷰(댓글 3개)
		getTastingReviews1();
		getTastingReviews2();
		getTastingReviews3();

		// 회원탈퇴
		console.log("update_True: " + $("#update_True").val())
		if($("#update_True").val() == 'true'){
			alert("회원탈퇴가 완료되었습니다. 안녕히가세요");
			location.href="/main/mainPage"
		}
	})

	/* 빵 체험단 실시간 리뷰(댓글 3개) */
	function getTastingReviews1() {
		// let tno= $(".tastingReTNO").attr('href');
		$.ajax({
			type: 'GET',
			url: '/main/getTastingReviews1',
			/*data: {tno},*/
			success: function (result) {
				console.log(result)
                if(result.length == 0){
                    let getTastingReviews =  "<div>"
                    getTastingReviews += "<p style='font-size: small;font-weight: bold;'>"
                    getTastingReviews += "현재 리뷰가 존재하지 않습니다. 첫번째로 리뷰를 달고 빵순&빵돌이들에게 알려주세요!"
                    getTastingReviews += "</p> </div>"
                    $("#reviewAppend1").append(getTastingReviews);
                }
				for (let i = 0; i < result.length; i++) {
					let getTastingReviews =  "<div> <span class='reviewId'>"
					getTastingReviews += result[i].userId
					getTastingReviews += "</span> <p>"
					getTastingReviews += result[i].content
					getTastingReviews += "</p> </div>"
					$("#reviewAppend1").append(getTastingReviews);
				}
			},
			error: function() {
				console.log("댓글 불러오기 실패")
			}
		})
	}
	function getTastingReviews2() {
		$.ajax({
			type: 'GET',
			url: '/main/getTastingReviews2',
			success: function (result) {
				console.log(result)
                if(result.length == 0){
                    let getTastingReviews =  "<div>"
                    getTastingReviews += "<p style='font-size: small;font-weight: bold;'>"
                    getTastingReviews += "현재 리뷰가 존재하지 않습니다. 첫번째로 리뷰를 달고 빵순&빵돌이들에게 알려주세요!"
                    getTastingReviews += "</p> </div>"
                    $("#reviewAppend2").append(getTastingReviews);
                }
				for (let i = 0; i < result.length; i++) {
					let getTastingReviews =  "<div> <span class='reviewId'>"
					getTastingReviews += result[i].userId
					getTastingReviews += "</span> <p>"
					getTastingReviews += result[i].content
					getTastingReviews += "</p> </div>"
					$("#reviewAppend2").append(getTastingReviews);
				}
			},
			error: function() {
				console.log("댓글 불러오기 실패")
			}
		})
	}
	function getTastingReviews3() {
		$.ajax({
			type: 'GET',
			url: '/main/getTastingReviews3',
			success: function (result) {
				console.log(result)
                if(result.length == 0){
                    let getTastingReviews =  "<div>"
                    getTastingReviews += "<p style='font-size: small;font-weight: bold;'>"
                    getTastingReviews += "현재 리뷰가 존재하지 않습니다. 첫번째로 리뷰를 달고 빵순&빵돌이들에게 알려주세요!"
                    getTastingReviews += "</p> </div>"
                    $("#reviewAppend3").append(getTastingReviews);
                }
				for (let i = 0; i < result.length; i++) {
					let getTastingReviews =  "<div> <span class='reviewId'>"
					getTastingReviews += result[i].userId
					getTastingReviews += "</span> <p>"
					getTastingReviews += result[i].content
					getTastingReviews += "</p> </div>"
					$("#reviewAppend3").append(getTastingReviews);
				}
			},
			error: function() {
				console.log("댓글 불러오기 실패")
			}
		})
	}
</script>
</body>
</html>