<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>
<head>
	<title>아이디 찾기 | 빵야빵야(屋)</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/idFind.css" />
	<style th:include="/main/header::header_style">
		.line_inp :not(button){
			border: solid 0px;
		}
	</style>
</head>
<body class="is-preload" style="padding: 5em 200px 0 200px;background-color: white;">

<!-- Header -->
<header id="header" th:include="/main/header::header_body">

</header>

<!-- Wrapper -->
<!-- Main -->
<section class="cont_login container">
	<div class="box_login find_id">
		<h2 class="title">입력하신 휴대폰 번호로 탈잉에<br>가입된 내역은 다음과 같습니다.</h2>
		<p class="info_text">총 1건의 가입 내역이 확인되었습니다.</p>
		<div class="list_id mCustomScrollbar _mCS_1 mCS-autoHide" style="position: relative; overflow: visible;"><div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" style="max-height: 126px;" tabindex="0"><div id="mCSB_1_container" class="mCSB_container" style="position: relative; top: 0px; left: 0px;" dir="ltr">
			<ul>
				<li>
					<div class="id">
						<span>카카오톡 아이디</span>
						<p>yejine98@nate.com</p>
					</div>
					<div class="date">
						<span>가입일자</span>
						<p>2020.08.07</p>
					</div>
				</li>
			</ul>
		</div></div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 125px; max-height: 116px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div>
		<a href="/Account/LoginPage.php" class="btn">로그인 창으로 돌아가기</a>
	</div>
</section>
<!-- Footer -->


<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script type="text/javascript">
	// 스크롤 효과
	scrollPlugin();
	function scrollPlugin(){
		$('.list_id').mCustomScrollbar({
			// 테마
			theme:"minimal-dark"
		});
	}
</script>
</body>
</html>