<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>
<head>
	<title>빵야빵야(屋)</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="icon" type="image/png"  href="/images/favicon.png"/>

	<style>
		.headerIcon{
			width: 40px;
			display: block;
			margin: auto;"
		}
		.icon.solid:before {
			font-weight: 100;
			content: none;
		}

		.spotlights a{
			font-weight: bold;
			font-size: small;
			color: black;
		}

		.spotlights p{
			font-size: small;
		}

		/* 검색창 */
		.search {
			position: relative;
			text-align: center;
			width: 400px;
			margin: 0 auto;
		}
		input {
			width: 100%;
			border-radius: 20px;
			border: 1px solid #bbb;
			margin: 10px 0;
			padding: 10px 12px;
		}
		.fa-search {
			position: absolute;
			left: 90%;
			top: 35%;
			margin: 0;
		}
		form {
			margin: 0;
		}

		/* 갤러리 */
		.spotlights > article {
			padding: 1.0em 2.25em 0.5em 2.25em;
			border-style: solid;
			border-width: 1px 1px 0px 0px;
			width: 25%;
		}

		.image.fit img {
			border-radius: 4px;
		}

		h4 {
			font-weight: 700;
			font-size: large;
			color: black;
			display: inline-block;
		}
	</style>
</head>
<body class="is-preload" style="padding: 10em 200px 0 200px;">

<!-- Header -->
<header id="header" th:include="/main/header::header_body">

</header>

<!-- Wrapper -->
<div class="wrapper">

	<!-- Main -->
	<section class="main">

		<!-- Banner -->
		<section id="banner">
			<article data-position="bottom right">
				<div class="inner">
					<img src="/images/mainBread1.jpg" alt="메인베너1">
					<h2 style="font-weight: bolder;font-size: xx-large;">엄선된 재료로 만든 영양가득 통밀빵</h2>
					<p>10여가지 이상의 곡물이 첨가된 다양한 종류의 빵을 만나보세요</p>
					<ul class="actions">
						<li><a class="button" href="/main/breadList">바로 구경가기</a></li>
					</ul>
				</div>
			</article>
			<article data-position="top right">
				<div class="inner">
					<img src="/images/mainBanner.jpg" alt="메인베너2">
					<h2 style="font-weight: bolder;font-size: xx-large;text-align: end"><span style="color: #FFD9EC">달콤 특별한💕</span><br>막대 과자 좌표는 여기!</h2>
					<p style="text-align: end">가족, 연인, 친구 등 고마운 사람들에게 감동을 전하세요!</p>
					<ul class="actions" style="justify-content: end;">
						<li><a class="button" href="/main/breadList">빵 담으러 가기</a></li>
					</ul>
				</div>
			</article>
			<article data-position="center">
				<div class="inner">
					<img src="/images/휘낭시에1.jpg" alt="메인베너3">
					<h2 style="font-weight: bolder;font-size: xx-large;"><span style="color: antiquewhite">인기 빵집</span>에서 무료로 빵 먹자!</h2>
					<p>3초만에 빵 체험단 신청하고, 맛집 빵 무료로 맛보기</p>
					<ul class="actions">
						<li><a class="button" href="/test/list">실시간 모집 보러가기</a></li>
					</ul>
				</div>
			</article>
			<article data-position="right">
				<div class="inner">
					<img src="/images/mainBread2.jpg" alt="메인베너4">
					<h2 style="font-weight: bolder;font-size: xx-large;">빵순이 빵돌이 다 모여라🍞</h2>
					<p>베이킹? 아무것도 몰라도 괜찮아!<br>직접 맛집 빵 만들러 가자!</p>
					<ul class="actions">
						<li><a class="button" href="/class/classMain">실시간 신청하기</a></li>
					</ul>
				</div>
			</article>
		</section>

		<!-- Blurb 1 -->
		<section style="padding-top: 2.0em;padding-bottom: 0em;">
			<h4>따끈따끈 오늘의 빵</h4>
		</section>

		<!-- 오늘의 빵 -->
		<section class="spotlights alt">
			<article style="border-width: 0px 1px 0px 0px;" th:each="bakery : ${list}">
			<th:block  th:object="${bakery}">
				<a th:href="*{bno}" class="image fit goInfo"><img th:src="*{bakeryPhoto}" alt=""></a>
				<a th:href="*{bno}" class="bakery-name goInfo" name="shopName" th:text="*{shopName}"></a>
				<p th:text="*{content}"></p>
				<p style="font-weight: 600;">리뷰 0개</p>
			</th:block>
			</article>
			<br>
			<div class="col-6 col-12-medium">
				<ul class="actions fit">
					<li><a href="/main/breadList" class="button primary fit" style="margin-top: 1em;">오늘의 빵 더보기</a></li>
				</ul>
			</div>
		</section>


		<!-- Blurb 2 -->
		<section style="padding-top: 2.0em;padding-bottom: 0em;border-top: none;">
			<h4>요즘 인기 빵 직접 만드는 원데이 클래스</h4>
		</section>

		<!-- Spotlights 2 -->
		<section class="spotlights alt">
			<article style="border-width: 0px 1px 0px 0px;">
				<a href="#" class="image fit"><img src="/images/garlicBread2.jpg" alt=""></a>
				<h5>만동제과</h5>
				<p>오픈하자마자 매진되는 마늘향 솔솔, 맛 최고 마늘 바게트</p>
				<p style="font-weight: 600;">리뷰 0개</p>
			</article>
			<article style="border-width: 0px 1px 0px 0px;">
				<a href="#" class="image fit"><img src="/images/까눌레1.jpg" alt=""></a>
				<h5>리코 베이커리</h5>
				<p>동네 빵집 1순위 겉바속촉 메론빵/ 담백한 소금빵</p>
				<p style="font-weight: 600;">리뷰 0개</p>
			</article>
			<article style="border-width: 0px 1px 0px 0px;">
				<a href="#" class="image fit"><img src="/images/휘낭시에2.png" alt=""></a>
				<h5>버터랏츠</h5>
				<p>달콤한 생크림이 가득 들어간 크로와상/ 딸기, 우유, 초코, 메론 등</p>
				<p style="font-weight: 600;">리뷰 0개</p>
			</article>
			<article style="border-width: 0px 0px 0px 0px;">
				<a href="#" class="image fit"><img src="/images/donut2.jpg" alt=""></a>
				<h5>카페노티드</h5>
				<p>달콤한 생크림이 가득 들어간 도넛/ 딸기, 우유, 초코, 메론 등</p>
				<p style="font-weight: 600;">리뷰 0개</p>
			</article>
			<article>
				<a href="#" class="image fit"><img src="/images/휘낭시에3.png" alt=""></a>
				<h5>만동제과</h5>
				<p>오픈하자마자 매진되는 마늘향 솔솔, 맛 최고 마늘 바게트</p>
				<p style="font-weight: 600;">리뷰 0개</p>
			</article>
			<article>
				<a href="#" class="image fit"><img src="/images/스콘1.jpg" alt=""></a>
				<h5>리코 베이커리</h5>
				<p>동네 빵집 1순위 겉바속촉 메론빵/ 담백한 소금빵</p>
				<p style="font-weight: 600;">리뷰 0개</p>
			</article>
			<article>
				<a href="#" class="image fit"><img src="/images/donut1.jpg" alt=""></a>
				<h5>버터랏츠</h5>
				<p>달콤한 생크림이 가득 들어간 크로와상/ 딸기, 우유, 초코, 메론 등</p>
				<p style="font-weight: 600;">리뷰 0개</p>
			</article>
			<article>
				<a href="#" class="image fit"><img src="/images/melon1.jpg" alt=""></a>
				<h5>카페노티드</h5>
				<p>달콤한 생크림이 가득 들어간 도넛/ 딸기, 우유, 초코, 메론 등</p>
				<p style="font-weight: 600;">리뷰 0개</p>
			</article>
			<br>
			<div class="col-6 col-12-medium">
				<ul class="actions fit">
					<li><a href="/class/classMain" class="button primary fit" style="margin-top: 1em;">원데이 클래스 더보기</a></li>
				</ul>
			</div>
		</section>

		<!-- Blurb 3 -->
		<section style="padding-top: 2.0em;padding-bottom: 0em;border-top: none;">
			<h4>빵 체험단 실시간 모집!</h4>
			<a href="#" style="text-align: right;float: right;font-weight: 700;">더보기</a>
		</section>

		<!-- Spotlights 3 -->
		<section class="spotlights alt">
			<article style="border-width: 0px 0px 0px 0px;width: 33.33333%;">
				<a href="#" class="image fit"><img src="/images/garlicBread1.jpg" alt=""></a>
				<h5>만동제과</h5>
				<p>오픈하자마자 매진되는 마늘향 솔솔, 맛 최고 마늘 바게트</p>
				<p style="font-weight: 600;">리뷰 0개</p>
			</article>
			<article style="border-width: 0px 0px 0px 0px;width: 33.33333%;">
				<a href="#" class="image fit"><img src="/images/휘낭시에3.png" alt=""></a>
				<h5>리코 베이커리</h5>
				<p>동네 빵집 1순위 겉바속촉 메론빵/ 담백한 소금빵</p>
				<p style="font-weight: 600;">리뷰 0개</p>
			</article>
			<article style="border-width: 0px 0px 0px 0px;width: 33.33333%;">
				<a href="#" class="image fit"><img src="/images/donut3.jpg" alt=""></a>
				<h5>카페노티드</h5>
				<p>생크림이 가득 심슨 도넛/ 딸기, 우유, 초코 등</p>
				<p style="font-weight: 600;">리뷰 0개</p>
			</article>
			<br>
		</section>

		<!-- Blurb 4 -->
		<section style="padding-top: 2.0em;padding-bottom: 0em;border-top: none;">
			<h4>빵 체험단 실시간 리뷰!</h4>
			<a href="#" style="text-align: right;float: right;font-weight: 700;">더보기</a>
		</section>

		<!-- Spotlights 4 -->
		<section class="spotlights alt">
			<article style="border-width: 0px 0px 0px 0px;width: 33.33333%;">
				<a href="#" class="image fit"><img src="/images/garlicBread2.jpg" alt=""></a>
				<h5>만동제과</h5>
				<p>오픈하자마자 매진되는 마늘향 솔솔, 맛 최고 마늘 바게트</p>
				<p style="font-weight: 600;">리뷰 0개</p>
			</article>
			<article style="border-width: 0px 0px 0px 0px;width: 33.33333%;">
				<a href="#" class="image fit"><img src="/images/melon1.jpg" alt=""></a>
				<h5>리코 베이커리</h5>
				<p>동네 빵집 1순위 겉바속촉 메론빵/ 담백한 소금빵</p>
				<p style="font-weight: 600;">리뷰 0개</p>
			</article>
			<article style="border-width: 0px 0px 0px 0px;width: 33.33333%;">
				<a href="#" class="image fit"><img src="/images/스콘1.jpg" alt=""></a>
				<h5>버터랏츠</h5>
				<p>달콤한 생크림이 가득 들어간 크로와상/ 딸기, 우유, 초코, 메론 등</p>
				<p style="font-weight: 600;">리뷰 0개</p>
			</article>
			<br>
		</section>

	</section>
</div>

<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<section class="info">
			<div class="team">
				<article>
					<p>
						<strong class="name">Policies</strong>
						<a href="/main/rule" class="title">서비스 이용약관</a><br>
						<a href="/main/privacy" class="title">개인정보 처리 방침</a>
					</p>
				</article>
				<article>
					<p>
						<strong class="name">Support</strong>
						<a href="/main/error" class="title">자주 묻는 질문</a><br>
						<a href="/test/list" class="title">이벤트</a>
					</p>
				</article>
			</div>
			<div class="team">
				<article>
					<p>
						<strong class="name">메일</strong>
						<span class="title">BBangya@gmail.com</span><br>
					</p>
				</article>
				<article>
					<p>
						<strong class="name">제휴문의</strong>
						<span class="title">BBangyaSupport@gmail.com</span><br>
					</p>
				</article>
				<article>
					<p>
						<strong class="name">빵야빵야(屋) 고객센터</strong>
						<span class="title">1588-8888(주 7일 오전 10시~저녁 10시까지)</span>
					</p>
				</article>
			</div>
			<div class="team">
				<p>
					<strong class="name">Follow</strong>
				</p>
				<ul class="contact-icons">
					<li class="icon brands fa-dribbble">
						<span><strong>Blog</strong></span><br>
						<a href="https://blog.naver.com/yejine98" target="_blank">yeahdy</a><br>
					</li>
					<li class="icon brands fa-github">
						<span><strong>Github</strong></span><br>
						<a href="https://github.com/yeahdy" target="_blank">yeahdy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="https://github.com/HanJunKyu" target="_blank">HanJunKyu</a><br>
						<a href="https://github.com/gomjiyun" target="_blank">gomjiyun</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="https://github.com/hyeongjin0706" target="_blank">hyeongjin0706</a><br>
						<a href="https://github.com/hyunjuu" target="_blank">hyunjuu</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="https://github.com/CraBk94" target="_blank">CraBk94</a>
					</li>
				</ul>
			</div>
		</section>
	</div>

	<div class="copyright">
		&copy; Copyright 2021 BBangyaBBangya(屋) inc, ltd. All rights reserved
	</div>
</footer>


<!-- Scripts -->
<script src="https://kit.fontawesome.com/8eb5905426.js" crossorigin="anonymous"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script th:replace="/main/header::header_js"></script>
<script type="text/javascript">
	$("a.goInfo").on("click", function(e){
		e.preventDefault();
		location.href = "/main/breadDetail?bno=" + $(this).attr("href");
	})
</script>
</body>
</html>