<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>
<head>
	<title>빵야빵야(屋)</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" href="/css/main.css" />
</head>
<body class="is-preload" style="padding: 200px">

<!-- Header -->
<header id="header">

	<!-- Logo -->
	<span class="logo">
						<a href="index.html">빵야빵야(屋)</a>
						<span></span>
					</span>

	<!-- Nav -->
	<nav id="nav">
		<ul>
			<li><a href="elements.html">빵집 찾기</a></li>
			<li><a href="generic.html">원데이 클래스</a></li>
			<li><a href="elements.html">빵 체험단</a></li>
			<li>
				<a href="#" class="icon solid fa-angle-down">MyPage(icon)</a>
				<ul>
					<li><a href="#">글 등록하기</a></li>
					<li><a href="#">내 글보기</a></li>
					<li><a href="#">내 정보</a></li>
				</ul>
			</li>
			<li><a href="#" class="button">검색(icon)</a></li>
			<!-- 로그인 시 없애기 -->
			<li><a href="#" class="button">로그인</a></li>
			<li><a href="#" class="button">회원가입</a></li>
		</ul>
	</nav>

</header>

<!-- Wrapper -->
<div class="wrapper">

	<!-- Main -->
	<section class="main">

		<!-- Banner -->
		<section id="banner">
			<article data-position="bottom right">
				<div class="inner">
					<img src="/images/slide01.jpg" alt="">
					<h3>달콤하고 오싹하게! 할로윈 데이의 특권</h3>
					<p>100여가지 이상의 할로윈 간식, 디저트</p>
					<ul class="actions">
						<li><a class="button large" href="#">바로 구경가기</a></li>
					</ul>
				</div>
			</article>
			<article data-position="top right">
				<div class="inner">
					<img src="/images/slide02.jpg" alt="">
					<h3>빵순이 빵돌이 다 모여라</h3>
					<p>집에서도 바삭한 빵 먹으러 가자!</p>
					<ul class="actions">
						<li><a class="button large" href="#">빵 담으러 가기</a></li>
					</ul>
				</div>
			</article>
			<article data-position="right">
				<div class="inner">
					<img src="/images/slide03.jpg" alt="">
					<h3>빵순이 빵돌이 다 모여라</h3>
					<p>직접 맛집 빵 만들러 가자!</p>
					<ul class="actions">
						<li><a class="button large" href="#">바로 신청하기</a></li>
					</ul>
				</div>
			</article>
			<article data-position="center">
				<div class="inner">
					<img src="/images/slide04.jpg" alt="">
					<h3>인기 빵집에서 무료로 빵 먹자!</h3>
					<p></p>
					<ul class="actions">
						<li><a class="button large" href="#">실시간 모집 보러가기</a></li>
					</ul>
				</div>
			</article>
		</section>

		<!-- Blurb -->
		<section>
			<h4>오늘의빵</h4>
		</section>

		<!-- Spotlights -->
		<section class="spotlights alt">
			<article>
				<a href="#" class="image fit"><img src="/images/pic01.jpg" alt=""></a>
				<h5>만동제과</h5>
				<p>오픈하자마자 매진되는 마늘향 솔솔, 맛 최고 마늘 바게트</p>
			</article>
			<article>
				<a href="#" class="image fit"><img src="/images/pic02.jpg" alt=""></a>
				<h5>리코 베이커리</h5>
				<p>동네 빵집 1순위 겉바속촉 메론빵/ 담백한 소금빵</p>
			</article>
			<article>
				<a href="#" class="image fit"><img src="/images/pic03.jpg" alt=""></a>
				<h5>버터랏츠</h5>
				<p>달콤한 생크림이 가득 들어간 크로와상/ 딸기, 우유, 초코, 메론 등</p>
				<ul class="actions">
					<li><a href="#" class="button">Learn More</a></li>
				</ul>
			</article>
			<article>
				<a href="#" class="image fit"><img src="/images/pic04.jpg" alt=""></a>
				<h5>카페노티드</h5>
				<p>달콤한 생크림이 가득 들어간 도넛/ 딸기, 우유, 초코, 메론 등</p>
				<ul class="actions">
					<li><a href="#" class="button">Learn More</a></li>
				</ul>
			</article>
		</section>
	</section>
</div>

<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<section class="info">
			<h3>About Us</h3>
			<div class="about">
				<p>Morbi mattis mi consectetur tortor elementum, varius pellentesque velit convallis. Aenean tincidunt lectus auctor mauris maximus, ac scelerisque ipsum tempor. Duis vulputate ex et ex tincidunt, quis lacinia velit aliquet. Duis non efficitur malesuada.</p><p>Sagittis felis ac sagittis semper. Curabitur purus leo donec vel dolor at arcu tincidunt bibendum. Interdum et malesuada fames ac ante ipsum primis.</p>
				<ul class="actions">
					<li><a href="#" class="button">Learn More</a></li>
				</ul>
			</div>
			<div class="team">
				<article>
					<span class="image"><img src="/images/pic06.jpg" alt=""></span>
					<p>
						<strong class="name">John Doe</strong>
						<span class="title">Lorem semper magna etiam</span>
					</p>
				</article>
				<article>
					<span class="image"><img src="/images/pic07.jpg" alt=""></span>
					<p>
						<strong class="name">Jane Anderson</strong>
						<span class="title">Etiam feugiat adipiscing veroeros</span>
					</p>
				</article>
				<article>
					<span class="image"><img src="/images/pic08.jpg" alt=""></span>
					<p>
						<strong class="name">Mike Smith</strong>
						<span class="title">Consequat nulla dolor blandit</span>
					</p>
				</article>
			</div>
		</section>
		<section class="contact">
			<h3>Contact Us</h3>
			<ul class="contact-icons">
				<li class="icon solid fa-home"><a href="#">1234 Somewhere Road #80486<br>Nashville, TN 00000</a></li>
				<li class="icon solid fa-phone"><a href="#">(800) 555-0000 x12345</a></li>
				<li class="icon solid fa-envelope"><a href="#">hello@untitled.tld</a></li>
				<li class="icon brands fa-facebook"><a href="#">facebook.com/untitled-tld</a></li>
				<li class="icon brands fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
			</ul>
		</section>
	</div>
	<div class="copyright">
		&copy; Untitled. All rights reserved.
	</div>
</footer>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>
</html>