<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>
<head>
	<title>빵야빵야(屋)</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/idFind.css" />
	<style th:include="/main/header::header_style">
		.line_inp :not(button){
			border: solid 0px;
		}
	</style>
</head>
<body class="is-preload" style="padding: 5em 200px 0 200px;background-color: white;">

<!-- Header -->
<header id="header" th:include="/main/header::header_body">

</header>

<!-- Wrapper -->
<!-- Main -->
<section class="cont_login container" id="inputView">
	<div class="box_login find_id" style="width: 460px;">
		<h2 class="title">연락 받으실 전화번호</h2>
		<p class="info_text">전화번호 인증 후 비밀번호를 변경하실 수 있습니다.</p>
		<div class="box_inp">
			<p class="form_title">변경하실 비밀번호</p>
			<b style="font-weight: 100;font-size: 11px;color: red;">※ 비밀번호는 영문+숫자+특수문자 8자 이상이여야 합니다</b>
			<div class="line_inp line_pw">
				<input type="password" name="password" id="password" placeholder="변경하실 비밀번호를 입력 해 주세요">
				<p class="info_error" id="passError1">비밀번호를 입력해주세요.</p>
			</div>
			<p class="form_title">비밀번호 확인</p>
			<div class="line_inp line_pw">
				<input type="password" name="pwConfirm" id="pwConfirm" placeholder="비밀번호를 재입력 해 주세요">
				<button type="button" class="type_pwd hide" id="viewPass"></button>
				<p class="info_error" id="passError2">비밀번호를 확인해주세요.</p>
			</div>
		</div>
		<div class="col-6 col-12-medium">
			<ul class="actions fit" style="margin-bottom: 1em;">
				<li><a href="/main/login" class="button primary fit" style="margin-top: 1em;">비밀번호 변경하기</a></li>
			</ul>
		</div>
	</div>
</section>
<!-- Footer -->


<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script type="text/javascript">
	//비밀번호 숨기기
	$('.type_pwd').on('click',function() {
		var $this = $(this);
		$this.toggleClass('hide');
		if($this.hasClass('hide')){
			$this.prev('input').prop('type','password');
		}else{
			$this.prev('input').prop('type','text');
		}
	});
</script>
</body>
</html>