<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/main.css" rel="stylesheet">
    <title>빵집 리뷰</title>
    <style>
        table, h1{
            width:70%;
            margin: 25px auto;
        }
    </style>
</head>
<body>
<!-- header -->
<header id="header">

    <!-- logo -->
    <span class="logo">
						<a href="/main/index">faction</a>
						<span>by pixelarity</span>
					</span>

    <!-- nav -->
    <nav id="nav">
        <ul>
            <li><a href="/main/index">home</a></li>
            <li>
                <a href="#" class="icon solid fa-angle-down">dropdown</a>
                <ul>
                    <li><a href="#">option one</a></li>
                    <li><a href="#">option two</a></li>
                    <li><a href="#">option three</a></li>
                    <li>
                        <a href="#">submenu</a>
                        <ul>
                            <li><a href="#">option one</a></li>
                            <li><a href="#">option two</a></li>
                            <li><a href="#">option three</a></li>
                            <li><a href="#">option four</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="/main/generic">generic</a></li>
            <li><a href="/main/elements">elements</a></li>
            <li><a href="/mypage/mypage">mypage</a></li>
            <li><a href="/mypage/cart">cart</a></li>
            <li><a href="#" class="button">log in</a></li>
        </ul>
    </nav>

</header>
<h1>빵집 리뷰 페이지 입니다.</h1>




<!-- Footer -->
<footer id="footer" th:include="/main/footer::footer_body"></footer>

<!-- scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>
</html>