<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test_th</title>
</head>
<body>

    <table border="1">
        <tr>
            <th>카트 번호</th>
            <th>빵 이름</th>
            <th>빵 개수</th>
        </tr>
        <tr th:object="${cartList}">
            <td th:text="*{cartNum}"></td>
            <td th:text="*{breadName}"></td>
            <td th:text="*{breadCnt}"></td>
        </tr>
    </table>
    <table border="1" class="bakery1">
        <tbody><tr>
            <th class="bakeryName">빵집 이름</th>
        </tr>
        <tr>
            <td><div class="bread_table"><img class="bread_img" src="/images/bread1.jpg" width="200px"></div>
                <div class="breadTable_top">
                    <span class="bread_title"><strong></strong></span>
                    <br>
                    <ul>
                        <li><span class="bread_name">파운드케이크선택 : 흑임자칙피스프레드</span></li>
                    </ul>
                </div>
                <div class="breadTable_bottom">
                    <div class="cnt_buttonDiv">
                        <table>
                        <tr>
                            <td class="bt"><button type="button" class="cnt_button_plus"><span>-</span></button></td>
                            <td><div class="bread_table" id="cnt1">1</div></td>
                            <td><button type="button" class="cnt_button_minus">+</button></td>
                        </tr>
                        </table>
                    </div>
                    <div class="bread_table" class="price">
                        38000
                    </div>
                    <div class="bread_table"><img class="delete_icon" src="/images/delete_icon.png"></div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <table border="1" class="bakery1">
        <tbody><tr>
            <th class="bakeryName">빵집 이름</th>
        </tr>
        <tr>
            <td><div class="bread_table"><img class="bread_img" src="/images/bread1.jpg" width="200px"></div>
                <div class="breadTable_top">
                    <span class="bread_title"><strong></strong></span>
                    <br>
                    <ul>
                        <li><span class="bread_name">파운드케이크선택 : 흑임자칙피스프레드</span></li>
                    </ul>
                </div>
                <div class="breadTable_bottom">
                    <div class="cnt_buttonDiv">
                        <table>
                        <tr>
                            <td class="bt"><button type="button" class="cnt_button_plus"><span>-</span></button></td>
                            <td><div class="bread_table" id="cnt1">1</div></td>
                            <td><button type="button" class="cnt_button_minus">+</button></td>
                        </tr>
                        </table>
                    </div>
                    <div class="bread_table" class="price">
                        38000
                    </div>
                    <div class="bread_table"><img class="delete_icon" src="/images/delete_icon.png"></div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

<!-- Scripts -->

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<!--<script scr="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:replace="/main/header::header_js"></script>
<!--장바구니 삭제-->
    <script type="text/javascript">
        var p;
        var cnt;
        $(function () {
            //사진 모두 출력
            /*for(i = 1;i <= 9; i++){
                p = $("<img>").attr("src", "image/photo_" + i + ".jpg");
                $(".pic").append( p );
            }*/

            //이미지에 커서 올리면 바뀜
            $(".delete_icon").mouseover(function() {
                $(this).css("cursor", "pointer");
            });

            //x클릭하면 장바구니 지워짐
            $(".delete_icon").click(function() {
                /*console.log("개수"+$(".delete_icon").length)*/
                if ($(".delete_icon").length>1)
                {
                    $(this).closest("table").remove();
                }else{
                    alert("1개 이상부터 주문이 가능합니다.");
                }
            });

            //수량 버튼
            $(".bt").click(function(){
                cnt = parseInt($(this).closest("tr").children("td:eq(1)").text());
                $(this).closest("tr").children("td:eq(1)").text(++cnt);
                /*$(this).closest("table").closest("table").$(".price").text(++cnt);*/
            })

            //children("#cnt1").text(2);

            /*$(".cnt_button_plus").click(function(){
                $("#cnt1").text("<p>TEST</p>");
            })*/

        });

</script>
</body>
</html>