<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>
<head>
    <title>원데이클래스 | Main</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" type="image/png"  href="/images/favicon.png"/>
</head>
<style>
    .headerIcon{
        width: 40px;
        display: block;
        margin: auto;"
    }
    .icon.solid:before {
        font-weight: 100;
        content: none;
    }

    .spotlights h5{
        font-weight: bold;
        font-size: small;
    }

    .spotlights p{
        font-size: small;
    }

    /* 검색창 */
    .search {
        position: relative;
        text-align: center;
        width: 400px;
        margin: 0 auto;
    }
    input {
        width: 100%;
        border-radius: 20px;
        border: 1px solid #bbb;
        margin: 10px 0;
        padding: 10px 12px;
    }
    .fa-search {
        position: absolute;
        left: 90%;
        top: 35%;
        margin: 0;
    }
    form {
        margin: 0;
    }
    p {
        margin: 0 0 1em 0;
    }

    .spotlights h5{
        font-weight: bold;
        font-size: small;
    }

    .spotlights p{
        font-size: small;
    }

    .spotlights > article {
        padding: 1.0em 2.25em 0.5em 2.25em;
        border-style: solid;
        border-width: 1px 1px 0px 0px;
        width: 25%;
    }

    .image.fit img {
        border-radius: 4px;
    }

    h4 {
        font-weight: 700;
        font-size: large;
        color: black;
        display: inline-block;
    }

    .spotlights h5{
        color: black;
    }


    /* header */
    .headerIcon{
        width: 40px;
        display: block;
        margin: auto;"
    }
    .icon.solid:before {
        font-weight: 100;
        content: none;
    }

    .spotlights h5{
        font-weight: bold;
        font-size: small;
    }

    .spotlights p{
        font-size: small;
    }

    /* 검색창 */
    .search {
        position: relative;
        text-align: center;
        width: 400px;
        margin: 0 auto;
    }
    input {
        width: 100%;
        border-radius: 20px;
        border: 1px solid #bbb;
        margin: 10px 0;
        padding: 10px 12px;
    }
    .fa-search {
        position: absolute;
        left: 90%;
        top: 35%;
        margin: 0;
    }
    form {
        margin: 0;
    }
    #bannerDiv{
        position: fixed;
        top: 66.66px;
        z-index: 999;
    }

</style>
<body class="is-preload" style="padding: 200px">

<!-- Header -->
<header id="header" th:include="/main/header::header_body">
</header>
<div id="bannerDiv">
    <img src="/images/classbanner.png" style="width: 86%; padding: 20px; padding-top: 0px;">
</div>

<!-- Wrapper -->
<div class="wrapper">

    <!-- Main -->
    <section class="main">
<!--        <div>-->
<!--            <img src="/images/classbanner.jpeg" alt="" width="200px">-->
<!--        </div>-->

        <!-- Spotlights 2 -->
        <section class="spotlights alt">
            <article style="border-width: 0px 1px 0px 0px;">
                <a href="/class/classDetail" class="image fit"><img src="/images/garlicBread2.jpg" alt=""></a>
                <h5>만동제과</h5>
                <p>오픈하자마자 매진되는 마늘향 솔솔, 맛 최고 마늘 바게트</p>
                <p style="font-weight: 600;">리뷰 0개</p>
            </article>
            <article style="border-width: 0px 1px 0px 0px;">
                <a href="/class/classDetail" class="image fit"><img src="/images/까눌레1.jpg" alt=""></a>
                <h5>리코 베이커리</h5>
                <p>동네 빵집 1순위 겉바속촉 메론빵/ 담백한 소금빵</p>
                <p style="font-weight: 600;">리뷰 0개</p>
            </article>
            <article style="border-width: 0px 1px 0px 0px;">
                <a href="/class/classDetail" class="image fit"><img src="/images/휘낭시에2.png" alt=""></a>
                <h5>버터랏츠</h5>
                <p>달콤한 생크림이 가득 들어간 크로와상/ 딸기, 우유, 초코, 메론 등</p>
                <p style="font-weight: 600;">리뷰 0개</p>
            </article>
            <article style="border-width: 0px 0px 0px 0px;">
                <a href="/class/classDetail" class="image fit"><img src="/images/donut2.jpg" alt=""></a>
                <h5>카페노티드</h5>
                <p>달콤한 생크림이 가득 들어간 도넛/ 딸기, 우유, 초코, 메론 등</p>
                <p style="font-weight: 600;">리뷰 0개</p>
            </article>
            <article>
                <a href="/class/classDetail" class="image fit"><img src="/images/휘낭시에3.png" alt=""></a>
                <h5>만동제과</h5>
                <p>오픈하자마자 매진되는 마늘향 솔솔, 맛 최고 마늘 바게트</p>
                <p style="font-weight: 600;">리뷰 0개</p>
            </article>
            <article>
                <a href="/class/classDetail" class="image fit"><img src="/images/스콘1.jpg" alt=""></a>
                <h5>리코 베이커리</h5>
                <p>동네 빵집 1순위 겉바속촉 메론빵/ 담백한 소금빵</p>
                <p style="font-weight: 600;">리뷰 0개</p>
            </article>
            <article>
                <a href="/class/classDetail" class="image fit"><img src="/images/donut1.jpg" alt=""></a>
                <h5>버터랏츠</h5>
                <p>달콤한 생크림이 가득 들어간 크로와상/ 딸기, 우유, 초코, 메론 등</p>
                <p style="font-weight: 600;">리뷰 0개</p>
            </article>
            <article>
                <a href="/class/classDetail" class="image fit"><img src="/images/melon1.jpg" alt=""></a>
                <h5>카페노티드</h5>
                <p>달콤한 생크림이 가득 들어간 도넛/ 딸기, 우유, 초코, 메론 등</p>
                <p style="font-weight: 600;">리뷰 0개</p>
            </article>
            <br>
            <article>
                <a href="/class/classDetail" class="image fit"><img src="/images/melon1.jpg" alt=""></a>
                <h5>카페노티드</h5>
                <p>달콤한 생크림이 가득 들어간 도넛/ 딸기, 우유, 초코, 메론 등</p>
                <p style="font-weight: 600;">리뷰 0개</p>
            </article>
            <article>
                <a href="/class/classDetail" class="image fit"><img src="/images/melon1.jpg" alt=""></a>
                <h5>카페노티드</h5>
                <p>달콤한 생크림이 가득 들어간 도넛/ 딸기, 우유, 초코, 메론 등</p>
                <p style="font-weight: 600;">리뷰 0개</p>
            </article>
            <article>
                <a href="/class/classDetail" class="image fit"><img src="/images/melon1.jpg" alt=""></a>
                <h5>카페노티드</h5>
                <p>달콤한 생크림이 가득 들어간 도넛/ 딸기, 우유, 초코, 메론 등</p>
                <p style="font-weight: 600;">리뷰 0개</p>
            </article>
            <article>
                <a href="/class/classDetail" class="image fit"><img src="/images/melon1.jpg" alt=""></a>
                <h5>카페노티드</h5>
                <p>달콤한 생크림이 가득 들어간 도넛/ 딸기, 우유, 초코, 메론 등</p>
                <p style="font-weight: 600;">리뷰 0개</p>
            </article>
            <article>
                <a href="/class/classDetail" class="image fit"><img src="/images/melon1.jpg" alt=""></a>
                <h5>카페노티드</h5>
                <p>달콤한 생크림이 가득 들어간 도넛/ 딸기, 우유, 초코, 메론 등</p>
                <p style="font-weight: 600;">리뷰 0개</p>
            </article>
            <article>
                <a href="/class/classDetail" class="image fit"><img src="/images/melon1.jpg" alt=""></a>
                <h5>카페노티드</h5>
                <p>달콤한 생크림이 가득 들어간 도넛/ 딸기, 우유, 초코, 메론 등</p>
                <p style="font-weight: 600;">리뷰 0개</p>
            </article>
            <article>
                <a href="/class/classDetail" class="image fit"><img src="/images/melon1.jpg" alt=""></a>
                <h5>카페노티드</h5>
                <p>달콤한 생크림이 가득 들어간 도넛/ 딸기, 우유, 초코, 메론 등</p>
                <p style="font-weight: 600;">리뷰 0개</p>
            </article>
            <article>
                <a href="/class/classDetail" class="image fit"><img src="/images/melon1.jpg" alt=""></a>
                <h5>카페노티드</h5>
                <p>달콤한 생크림이 가득 들어간 도넛/ 딸기, 우유, 초코, 메론 등</p>
                <p style="font-weight: 600;">리뷰 0개</p>
            </article>
            <article>
                <a href="/class/classDetail" class="image fit"><img src="/images/melon1.jpg" alt=""></a>
                <h5>카페노티드</h5>
                <p>달콤한 생크림이 가득 들어간 도넛/ 딸기, 우유, 초코, 메론 등</p>
                <p style="font-weight: 600;">리뷰 0개</p>
            </article><article>
            <a href="/class/classDetail" class="image fit"><img src="/images/melon1.jpg" alt=""></a>
            <h5>카페노티드</h5>
            <p>달콤한 생크림이 가득 들어간 도넛/ 딸기, 우유, 초코, 메론 등</p>
            <p style="font-weight: 600;">리뷰 0개</p>
        </article><article>
            <a href="/class/classDetail" class="image fit"><img src="/images/melon1.jpg" alt=""></a>
            <h5>카페노티드</h5>
            <p>달콤한 생크림이 가득 들어간 도넛/ 딸기, 우유, 초코, 메론 등</p>
            <p style="font-weight: 600;">리뷰 0개</p>
        </article><article>
            <a href="/class/classDetail" class="image fit"><img src="/images/melon1.jpg" alt=""></a>
            <h5>카페노티드</h5>
            <p>달콤한 생크림이 가득 들어간 도넛/ 딸기, 우유, 초코, 메론 등</p>
            <p style="font-weight: 600;">리뷰 0개</p>
        </article><article>
            <a href="/class/classDetail" class="image fit"><img src="/images/melon1.jpg" alt=""></a>
            <h5>카페노티드</h5>
            <p>달콤한 생크림이 가득 들어간 도넛/ 딸기, 우유, 초코, 메론 등</p>
            <p style="font-weight: 600;">리뷰 0개</p>
        </article><article>
            <a href="/class/classDetail" class="image fit"><img src="/images/melon1.jpg" alt=""></a>
            <h5>카페노티드</h5>
            <p>달콤한 생크림이 가득 들어간 도넛/ 딸기, 우유, 초코, 메론 등</p>
            <p style="font-weight: 600;">리뷰 0개</p>
        </article>
            </article><article>
            <a href="/class/classDetail" class="image fit"><img src="/images/melon1.jpg" alt=""></a>
            <h5>카페노티드</h5>
            <p>달콤한 생크림이 가득 들어간 도넛/ 딸기, 우유, 초코, 메론 등</p>
            <p style="font-weight: 600;">리뷰 0개</p>
        </article>
            </article><article>
            <a href="/class/classDetail" class="image fit"><img src="/images/melon1.jpg" alt=""></a>
            <h5>카페노티드</h5>
            <p>달콤한 생크림이 가득 들어간 도넛/ 딸기, 우유, 초코, 메론 등</p>
            <p style="font-weight: 600;">리뷰 0개</p>
        </article>
            </article><article>
            <a href="/class/classDetail" class="image fit"><img src="/images/melon1.jpg" alt=""></a>
            <h5>카페노티드</h5>
            <p>달콤한 생크림이 가득 들어간 도넛/ 딸기, 우유, 초코, 메론 등</p>
            <p style="font-weight: 600;">리뷰 0개</p>
        </article>
            </article><article>
            <a href="/class/classDetail" class="image fit"><img src="/images/melon1.jpg" alt=""></a>
            <h5>카페노티드</h5>
            <p>달콤한 생크림이 가득 들어간 도넛/ 딸기, 우유, 초코, 메론 등</p>
            <p style="font-weight: 600;">리뷰 0개</p>
        </article>
            </article><article>
            <a href="/class/classDetail" class="image fit"><img src="/images/melon1.jpg" alt=""></a>
            <h5>카페노티드</h5>
            <p>달콤한 생크림이 가득 들어간 도넛/ 딸기, 우유, 초코, 메론 등</p>
            <p style="font-weight: 600;">리뷰 0개</p>
        </article>
            </article><article>
            <a href="/class/classDetail" class="image fit"><img src="/images/melon1.jpg" alt=""></a>
            <h5>카페노티드</h5>
            <p>달콤한 생크림이 가득 들어간 도넛/ 딸기, 우유, 초코, 메론 등</p>
            <p style="font-weight: 600;">리뷰 0개</p>
        </article>


        </section>
    </section>
</div>

<!-- Footer -->
<footer id="footer" th:include="/main/footer::footer_body"></footer>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script th:replace="/main/header::header_js"></script>
<script type="text/javascript">
    // $(function(){
    //
    //     var docHeight = $(document).height();
    //     var winHeight = $(window).height();
    //
    //
    //     $(window).scroll(function() {
    //         if($(window).scrollTop() + winHeight >= docHeight) {
    //             alert('Here is Bottom of This Page');
    //         }
    //     });
    // });

    // var list = new Vue({
    //     el: '.spotlights alt',
    //     data: {
    //         page: 0,
    //         dataList: [0,1,2,3,4,5,6,7],
    //     }
    // });
    //
    // function infiniteScroll() {
    //     if ($(document).height() - 10<= $(window).height() + $(window).scrollTop()) {
    //         //페이지 증가
    //         list.page += 1;
    //         $.ajax({
    //             url: '/getData?page='+list.page,
    //             type: 'GET',
    //             contentType: "application/json",
    //             success: function(data){
    //                 console.log(data);
    //                 for(var i=0;i<data.length;i++)
    //                     list.dataList.push(data[i]);
    //             }
    //         })
    //     }
    // }
    //
    // $(document).ready(function(){
    //     $(window).scroll(infiniteScroll)
    // });

    $(document).ready(function(){
        start.init();
    });
    var start = {
        param : {
            curPage : 1,
            pageListSize : 15,
        },

        init : function() {
            this.testData();
            this.testEvent();
        },
        testData : function() {
            this.setListItems("${firstData}"); // 첫 진입시 데이터 셋팅
        },
        testEvent : function() {
            // 무한 스크롤
            $(window).scroll(function() {
                // 맨 밑으로 스크롤이 갔을경우 if문을 탑니다.
                if($(window).scrollTop() == $(document).height() - $(window).height()) {
                    start.param.curPage++; // 현재 페이지에서 +1 처리.

                    start.testAjax(); //ajax 호출
                }
            });
        },
        // 무한 스크롤 ajax 요청
        testAjax : function() {
            $.ajax({
                type     : 'POST',
                url      : '/test/ajax',
                data     : JSON.stringify(start.param), // 다음 페이지 번호와 페이지 사이즈를 가지고 갑니다.
                dataType : 'json',
                contentType: "application/json",
                success : successCallback,
                error : errorCallback
            });
            // 성공
            function successCallback(data) {
                if(data.testList.totListSize == 0 ){
                    $(".gridList").append('<div class="noList"><span>표시할 항목이 없습니다.</span></div>');
                }
                if(JSON.parse(data.testList).length != 0){
                    testLoading.show(); //로딩 on(로딩바가 있을경우만 넣습니다. 없을경우 빼셔도 상관 없습니다.)
                    start.setListItems(JSON.parse(data.testList));  //테스트 데이터 리스트 입니다.
                    testLoading.hide(); //로딩 off(로딩바가 있을경우만 넣습니다. 없을경우 빼셔도 상관 없습니다.)
                }
            }

            // 실패
            function errorCallback() {
                alert("실패");
            }
        },

        // 테스트 데이터 setting
        setListItems : function (list) {
            $.each(list, function(i, testData) {

                // 부모 엘리먼트에 append 할 데이터를 셋팅한다.
                var $li = $('<li>')
                    .append($('<div>').text(testData.name))
                    .append($('<div>').text(testData.phoneNm))
                    .append($('<div>')
                        .append($('<span>').text(testData.birth)));


                // 부모 엘리먼트에 append
                $('#test_list').append($li);
            })
        }
    }


</script>
</body>
</html>