<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->

<!--<mapper namespace="com.example.pangyapangya.mappers.ClassReviewFileMapper">-->
<!--    <insert id="insert">-->
<!--        INSERT INTO TBL_CLASSATTACH (UUID, UPLOADPATH, FILENAME, IMAGE, BNO)-->
<!--        VALUES (#{uuid}, #{uploadPath}, #{fileName}, #{image}, #{bno})-->
<!--    </insert>-->

<!--&lt;!&ndash;    <delete id="delete">&ndash;&gt;-->
<!--&lt;!&ndash;        DELETE FROM TBL_CLASSATTACH WHERE UUID = #{uuid}&ndash;&gt;-->
<!--&lt;!&ndash;    </delete>&ndash;&gt;-->

<!--    <select id="findByBno" resultType="classReviewFileVO">-->
<!--        SELECT UUID, UPLOADPATH, FILENAME, IMAGE, BNO-->
<!--        FROM TBL_CLASSATTACH-->
<!--        WHERE BNO = #{bno}-->
<!--    </select>-->

<!--&lt;!&ndash;    <delete id="deleteAll">&ndash;&gt;-->
<!--&lt;!&ndash;        DELETE FROM TBL_CLASSATTACH WHERE BNO = #{bno}&ndash;&gt;-->
<!--&lt;!&ndash;    </delete>&ndash;&gt;-->

<!--    <select id="getOldFiles" resultType="classReviewFileVO">-->
<!--        SELECT UUID, UPLOADPATH, FILENAME, IMAGE, BNO-->
<!--        FROM TBL_CLASSATTACH-->
<!--        WHERE UPLOADPATH = TO_CHAR(SYSDATE - 1, 'YYYY/MM/DD')-->
<!--    </select>-->
<!--</mapper>-->