<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.pangyapangya.mappers.OrderMapper">
    <select id="getOrderList" resultType="OrderVO">
        SELECT * FROM TBL_ORDER WHERE USERID = #{userId}
    </select>
</mapper>
