<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.pangyapangya.mappers.UserMapper">
    <!-- 아이디 중복 검사 -->
    <select id="checkId" resultType="_int">
        SELECT COUNT (USERID) FROM TBL_USER
        WHERE USERID = #{userId}
    </select>

    <!-- 회원가입 (일반회원) -->
    <insert id="join">
        INSERT INTO TBL_USER
        (USERID, USERPW, USERNAME, USERZIPCODE, USERADDRESS, USERADDRESS_DETAIL, USERPHONENUM)
        VALUES(#{userId}, #{userPw}, #{userName}, #{userZipcode}, #{userAddress}, #{userAddress_detail}, #{userPhoneNum})
    </insert>

    <!-- 회원가입 (사장님) -->
    <insert id="joinCEO">
        INSERT INTO TBL_CEO
        (CEOID, CEOPW, CEONAME, SHOPNAME, SHOPCALLNUMBER, SHOPADDRESS, SHOPADDRESSDETAIL, SHOPPHOTO, SHOPREGNUM, SHOPZIPCODE, PHONENUM)
        VALUES(#{ceoId}, #{ceoPw}, #{ceoName}, #{shopName}, #{shopCallNumber}, #{shopAddress}, #{shopAddressDetail}, #{shopPhoto}, #{shopRegNum}, #{shopZipcode}, #{phoneNum});
    </insert>

    <!-- 로그인(일반회원) -->
    <select id="login" resultType="_int">
        SELECT COUNT(USERID) FROM TBL_USER
        WHERE USERID = #{userId} AND USERPW = #{userPw}
    </select>

    <!-- 로그인(사장님) -->
    <select id="loginCEO" resultType="_int">
        SELECT COUNT(CEOID) FROM TBL_CEO
        WHERE CEOID = #{ceoId} AND CEOPW = #{ceoPw}
    </select>

    <!-- 아이디 찾기 -->
    <select id="idFind" resultType="UserVO">
        SELECT USERID, USERPW, USERNAME, USERZIPCODE, USERADDRESS, USERADDRESS_DETAIL, USERPHONENUM FROM TBL_USER
        WHERE USERPHONENUM = #{userPhoneNum}
    </select>

    <!-- 비밀번호 찾기 : 아이디 조회 -->
    <select id="pwFind" resultType="_int">
        SELECT COUNT(USERID) FROM TBL_USER
        WHERE USERID = #{userId}
    </select>

    <!-- 비밀번호 찾기 : 가입한 전화번호 조회 -->
    <select id="pwFind_phone" resultType="String">
        SELECT USERPHONENUM FROM TBL_USER
        WHERE USERID = #{userId}
    </select>

    <!-- 상태 구분하기(일반회원) -->
    <select id="userStatus" resultType="_int">
        SELECT STATUS FROM TBL_USER
        WHERE USERID = #{userId}
    </select>

    <!-- 상태 구분하기(사장님) -->
    <select id="CEOStatus" resultType="_int">
        SELECT STATUS FROM TBL_CEO
        WHERE CEOID = #{ceoId}
    </select>
</mapper>