<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>
<head>
	<title>로그인 | 빵야빵야(屋)</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/login.css" />
	<style th:include="/main/header::header_style">
		. info_error{
			margin: 0 0 1em 0;
		}
	</style>
</head>
<body class="is-preload" style="padding: 5em 200px 0 200px;background-color: white;">

<!-- Header -->
<header id="header" th:include="/main/header::header_body">

</header>

<!-- Wrapper -->
	<!-- Main -->
	<section class="cont_login container">
		<form action="/main/mainPage" method="post" id="loginForm" name="loginForm">
			<div class="box_login login_email" style="grid-template-rows: 130px auto 170px;">
				<h2 class="tit">간편하게 로그인하고<br><strong style="color: #F9A825">빵야빵야(屋)의</strong><br> 다양한 빵을 먹어보세요.</h2>
				<div class="box_inp">
					<div class="line_inp">
						<input type="text" id="userId" name="userId" placeholder="아이디를 입력해주세요">
						<p class="info_error" id="userIdError1">아이디를 입력해주세요.</p>
					</div>
					<div class="line_inp line_pw">
						<input type="password" name="userPw" id="userPw" placeholder="비밀번호를 입력해주세요">
						<button type="button" class="type_pwd hide" id="viewPass"></button>
						<p class="info_error" id="userPwError1">비밀번호를 입력해주세요.</p>
					</div>
				</div>
				<div class="col-6 col-12-medium">
					<ul class="actions fit" style="margin-bottom: 1em;">
						<li><input type="button" class="button primary fit" id="loginButton" value="로그인 하기" style="margin-top: 3em;"/></li>
					</ul>
					<div class="box_btn">
						<a style="padding-left: 0px;" class="btn" href="/user/idFind">아이디 찾기</a>
						<a class="btn" href="/user/pwFind">비밀번호 찾기</a>
						<a class="btn" href="/user/join">회원가입</a>
					</div>
					<!-- 로그인 상태 -->
					<div  th:if="${session.sessionC == null}">
						<input type="hidden" id="sessionC" th:value="${session['sessionC']}" />
					</div>
				</div>

			</div>
			<input type="hidden" name="redirectUrl" id="redirectUrl" value="https://taling.me/">
		</form>
	</section>
<!-- Footer -->
<footer id="footer" th:include="/main/footer::footer_body"></footer>


<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script th:replace="/main/header::header_js"></script>
<script type="text/javascript">
	let loginForm = $(document.loginForm);

	//비밀번호 숨기기
	$('.type_pwd').on('click',function() {
		let $this = $(this);
		$this.toggleClass('hide');
		if($this.hasClass('hide')){
			$this.prev('input').prop('type','password');
		}else{
			$this.prev('input').prop('type','text');
		}
	});

	// 아이디, 비밀번호 공백 막기
	$('#loginButton').on("click", function () {
		if(!$("#userId").val()){
			$("#userId").focus();
			$("#userIdError1").show();
			return;
		}else{
			$("#userIdError1").hide();
		}

		if(!$('#userPw').val()){
			$("#userPw").focus();
			$("#userPwError1").show();
			return;
		}else{
			$("#userPwError1").hide();
		}
		loginForm.submit();

		console.log("session: " + $("#sessionC").val());
		if($("#sessionC").val() == null){
		}
	})
</script>
</body>
</html>