<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>
<head>
	<title>빵야빵야(屋)</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/idFind.css" />
	<link rel="icon" type="image/png"  href="/images/favicon.png"/>
	<style th:include="/main/header::header_style">
		.line_inp :not(button){
			border: solid 0px;
		}
	</style>
</head>
<body class="is-preload" style="padding: 5em 200px 0 200px;background-color: white;">

<!-- Header -->
<header id="header" th:include="/main/header::header_body">

</header>

<!-- Wrapper -->
<!-- Main -->
<section class="cont_login container" id="inputView">
	<div class="box_login find_id" style="width: 460px;">
		<form action="/user/pwFindSuccess" method="post" id="pwChangeForm">
			<h2 class="title">연락 받으실 전화번호</h2>
			<p class="info_text">전화번호 인증 후 비밀번호를 변경하실 수 있습니다.</p>
			<div class="box_inp">
				<p class="form_title">변경하실 비밀번호</p>
				<b style="font-weight: 100;font-size: 11px;color: red;">※ 비밀번호는 영문+숫자+특수문자 8~20자 이여야 합니다</b>
				<div class="line_inp line_pw">
					<input type="password" name="userPw" id="userPw" placeholder="변경하실 비밀번호를 입력 해 주세요">
					<p class="info_error" id="userPwError1">비밀번호를 입력해주세요.</p>
					<p class="info_error" id="userPwError2">비밀번호는 영문+숫자+특수문자를 포함한 8~20자 까지 입니다.</p>
				</div>
				<p class="form_title">비밀번호 확인</p>
				<div class="line_inp line_pw">
					<input type="password" name="confirmPw" id="confirmPw" placeholder="비밀번호를 재입력 해 주세요">
					<button type="button" class="type_pwd hide" id="viewPass"></button>
					<p class="info_error" id="confirmPwError1">비밀번호가 일치한지 다시 확인해주세요.</p>
				</div>
			</div>
			<div class="col-6 col-12-medium">
				<ul class="actions fit" style="margin-bottom: 1em;">
					<li><input type="button" id="nextButton" class="button primary fit" value="비밀번호 변경하기" style="margin-top: 1em;"/></li>
				</ul>
			</div>
			<!-- pwFind 컨트롤러 -->
			<input type="hidden" id="userId" name="userId" th:value="${userId}"/>
		</form>
	</div>
</section>
<!-- Footer -->
<footer id="footer" th:include="/main/footer::footer_body"></footer>


<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script th:replace="/main/header::header_js"></script>
<script type="text/javascript">
	let pwCheck = false;	// 비밀번호 확인
	let pwChangeForm = $("#pwChangeForm")	// <form>

	//비밀번호 숨기기
	$('.type_pwd').on('click',function() {
		var $this = $(this);
		$this.toggleClass('hide');
		if($this.hasClass('hide')){
			$this.prev('input').prop('type','password');
		}else{
			$this.prev('input').prop('type','text');
		}
	});

	//공백 막기 & 비밀번호 유효성 검사
	$('#nextButton').on("click", function () {
		// 비밀번호
		if(!$('#userPw').val()){
			$("#userPw").focus();
			$("#userPwError1").show();
			return;
		}else{
			$("#userPwError1").hide();
		}

		// 비밀번호 정규식
		let pwCheck= /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,20}$/

		if(!pwCheck.test($('#userPw').val())){
			$("#userPw").focus();
			$("#userPwError2").show();
			return;
		}else {
			$("#userPwError2").hide();
		}

		// 비밀번호 확인
		if(!$('#confirmPw').val()){
			$("#confirmPw").focus();
			$("#confirmPwError1").show();
			return;
		}else if($("#userPw").val() !== $("#confirmPw").val()){
			$("#confirmPw").focus();
			$("#confirmPwError1").show();
			return;
		}else{
			pwCheck = true;
			$("#confirmPwError1").hide();
		}

		console.log("체크여부: "+pwCheck);
		if(pwCheck){
			pwChangeForm.submit();
		}
	})
</script>
</body>
</html>