<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>
<head>
	<title>회원가입-약관동의 | 빵야빵야(屋)</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/login.css" />
	<link rel="icon" type="image/png"  href="/images/favicon.png"/>
	<style th:include="/main/header::header_style">

	</style>
</head>
<body class="is-preload" style="padding: 5em 200px 0 200px;background-color: white;">

<!-- Header수정 -->
<header id="header" th:include="/main/header::header_body">

</header>

<!-- Wrapper -->
	<!-- Main -->
	<section class="cont_login container">
		<form action="/ceo/joinConfirmCEO" method="post" id="joinConrimForm">
			<div class="box_login box_terms" style="height: 800px">
				<h2 class="tit"><b style="color: #F9A825;">환영합니다!</b>원활한 서비스 이용을 위해<br>약관에 동의해주세요.</h2>
				<ul class="terms_lst" style="list-style: none">
					<li class="terms_chk_all">
						<div class="label_wrap">
							<input class="blind inp_label all" type="checkbox" name="checkAll" id="checkAll">
							<label for="checkAll" class="inp_chkbox">전체동의</label>
						</div>
					</li>
					<li>
						<div class="label_wrap">
							<input class="blind inp_label" type="checkbox" name="checkTerms" id="termsService" value="termsService">
							<label for="termsService" class="inp_chkbox">* 서비스 이용약관 (필수)</label>
							<a href="/main/rule" class="link_more" target="_blank">보기</a>
						</div>
						<article><p>빵야빵야(屋) 서비스 이용과 관련하여 회사 및 이용자간의 권리, 의미 등을 안내해 드립니다.</p></article>
					</li>
					<li>
						<div class="label_wrap">
							<input class="blind inp_label" type="checkbox" name="checkTerms" id="termsPrivacy" value="termsPrivacy">
							<label for="termsPrivacy" class="inp_chkbox">* 개인정보처리방침 (필수)</label>
							<a href="/main/privacy" class="link_more" target="_blank">보기</a>
						</div>
						<article><p>서비스 이용과 관련하여 수집 이용하는 개인정보를 안내해 드립니다.</p></article>
					</li>
					<li>
						<div class="label_wrap">
							<input class="blind inp_label" type="checkbox" name="checkTerms" id="termsPush" value="1">
							<label for="termsPush" class="inp_chkbox">이벤트 정보 수신 동의 (선택)</label>
						</div>
						<article><p>뉴스 및 이벤트, 관심 수업 소식 등 탈잉 서비스와 관련된 알림을 받을 수 있습니다.</p></article>
						<p class="info_error act">서비스 이용약관과 개인정보처리방침에 모두 동의해주세요.</p>
					</li>
				</ul>
				<div class="col-6 col-12-medium">
					<ul class="actions fit" style="margin-bottom: 1em;">
						<li><input type="button" id="nextButton" class="button primary fit" value="확인" style="margin-top: 1em;"/></li>
						<div th:object="${ceoVO}" style="display: none">
							<input type="hidden" th:field="*{ceoId}">
							<input type="hidden" th:field="*{ceoPw}">
							<input type="hidden" th:field="*{ceoName}">
							<input type="hidden" th:field="*{shopName}">
							<input type="hidden" th:field="*{shopCallNumber}">
							<input type="hidden" th:field="*{shopZipcode}">
							<input type="hidden" th:field="*{shopAddress}">
							<input type="hidden" th:field="*{shopAddressDetail}">
							<input type="hidden" th:field="*{phoneNum}">
							<input type="hidden" th:field="*{shopRegNum}">
						</div>
					</ul>
				</div>
			</div>
		</form>
	</section>
<!-- Footer -->
<footer id="footer" th:include="/main/footer::footer_body"></footer>


<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script th:replace="/main/header::header_js"></script>
<script type="text/javascript">
	$(function(){
		// 전체동의 클릭 시 모두 체크하기 함수 실행
		$("[name=checkAll]").click(function(){
			allCheckFunc(this);
		});
		// 개별 동의 클릭 시 하나씩 체크하기 함수 실행
		$("[name=checkTerms]").each(function(){
			$(this).click(function(){
				oneCheckFunc($(this));
			});
		});
	});

	// 전체동의 버튼이 true일 경우 모든 개별박스 체크하기
	function allCheckFunc(obj) {
		$("[name=checkTerms]").prop("checked", $(obj).prop("checked"));
	}

	/* 체크박스 체크시 전체선택 체크 여부 */
	function oneCheckFunc(obj) {
		var allObj = $("[name=checkAll]");	// 전체 박스
		var objName = $(obj).attr("name");	// 개별 박스

		// 개별박스에 체크를 했을 경우
		if($(obj).prop("checked")){
			checkBoxLength = $("[name="+ objName +"]").length;	// 개별박스 수 (ex. 1개)
			checkedLength = $("[name="+ objName +"]:checked").length;	// 개별박스 체크한 수 (ex. 1개)

			// 반복문을 통해 개별박스 수 == 개별박스 체크한 수 가 같은 경우 '전체박스'를 체크표시
			if(checkBoxLength == checkedLength){
				allObj.prop("checked", true);
			}else{
				allObj.prop("checked", false);
			}
		}else{
			// 개별박스에 체크하지 않았을 경우
			allObj.prop("checked", false);
		}
	}

	// 필수 약관 체크 했을 경우에만 회원가입 완료
	$("#nextButton").on("click",function () {
		if($("#termsService").prop("checked") && $("#termsPrivacy").prop("checked")){
			$("#joinConrimForm").submit();
		}else {
			alert("*필수 약관에 동의 해 주세요.");
			return;
		}
	})

</script>
</body>
</html>