<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>
<head>
	<title>로그인 | 빵야빵야(屋)</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/login.css" />
	<link rel="icon" type="image/png"  href="/images/favicon.png"/>
	<style th:include="/main/header::header_style"></style>
	<style>
		. info_error{
			margin: 0 0 1em 0;
		}

		/* 로그인 구분 */
		.box {
			display: flex;
			justify-content: center;
			width: 460px;
			margin: 0 auto;
			cursor: pointer;
			padding: 1em;
		}

		.box li {
			width: 50%;
			cursor: pointer;
			list-style: none;
			float: left;
		}

		.box h4{
			margin-bottom: 0em;
		}

		.box a {
			font-size: 18px;
		}
	</style>
</head>
<body class="is-preload" style="padding: 5em 200px 0 200px;background-color: white;">

<!-- Header -->
<header id="header" th:include="/main/header::header_body">

</header>

<!-- Wrapper수정 -->
	<!-- Main -->
	<section class="cont_login container">
		<form action="/ceo/loginCEO" method="post" id="loginForm">
			<div class="box">
				<li style="border-right: 1px solid #dcdcdc">
					<h4><a href="/user/login"><strong>일반회원</strong></a></h4>
				</li>
				<li>
					<h4><a href="/ceo/loginCEO"><strong style="color: #F9A825; border-bottom: 1px solid">사장님</strong></a></h4>
				</li>
			</div>
			<div class="box_login login_email" style="grid-template-rows: 130px auto 170px;">
				<h2 class="tit">간편하게 로그인하고<br><strong style="color: #F9A825">빵야빵야(屋)의</strong><br> 다양한 빵을 먹어보세요.</h2>
				<div class="box_inp">
					<div class="line_inp">
						<input type="text" name="ceoId" id="userId" placeholder="아이디를 입력해주세요">
					</div>
					<div class="line_inp line_pw">
						<input type="password" name="ceoPw" id="userPw" placeholder="비밀번호를 입력해주세요">
						<button type="button" class="type_pwd hide" id="viewPass"></button>
						<p class="info_error" id="userPwError1">비밀번호를 입력해주세요.</p>
						<p class="info_error" id="loginError">아이디 또는 비밀번호가 일치하지 않습니다.</p>
					</div>
				</div>
				<div class="col-6 col-12-medium">
					<ul class="actions fit" style="margin-bottom: 1em;">
						<li><input type="button" class="button primary fit" id="loginButton" value="로그인 하기" style="margin-top: 3em;"/></li>

					</ul>
					<div class="box_btn">
						<a style="padding-left: 0px;" class="btn" href="/ceo/idFindCEO">아이디 찾기</a>
						<a class="btn" href="/ceo/pwFindCEO">비밀번호 찾기</a>
						<a class="btn" href="/ceo/joinCEO">회원가입</a>
					</div>
					<!-- 로그인 상태 -->
					<div th:if="${check == 'false'}">
						<input type="hidden" id="loginChk" th:value="${check}" />
					</div>
					<!-- 비밀번호 찾기 컨트롤러 -->
					<div id="resultPw" th:if="${resultPw == 0}" style="display: none">
						<span th:text="${resultPw}"></span>
					</div>
				</div>
			</div>
		</form>
	</section>
<!-- Footer -->
<footer id="footer" th:include="/main/footer::footer_body"></footer>


<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script th:replace="/main/header::header_js"></script>
<script type="text/javascript" th:inline="javascript">
	let loginForm = $("#loginForm");

	//비밀번호 숨기기
	$('.type_pwd').on('click',function() {
		let $this = $(this);
		$this.toggleClass('hide');
		if($this.hasClass('hide')){
			$this.prev('input').prop('type','password');
		}else{
			$this.prev('input').prop('type','text');
		}
	});

	// 아이디, 비밀번호 공백 막기
	$(document).ready(function () {
		$('#loginButton').on("click", function () {
			if(!$("#userId").val()){
				$("#userId").focus();
				$("#userIdError1").show();
				return;
			}else{
				$("#userIdError1").hide();
			}

			if(!$('#userPw').val()){
				$("#userPw").focus();
				$("#userPwError1").show();
				return;
			}else{
				$("#userPwError1").hide();
			}
			loginForm.submit();
		})

		// 엔터키로 로그인(공백막기)
		$("#userPw").on("keydown", function(e){
			if(e.keyCode == 13){
				if(!$("#userId").val()){
					$("#userId").focus();
					$("#userIdError1").show();
					return;
				}else{
					$("#userIdError1").hide();
				}

				if(!$('#userPw').val()){
					$("#userPw").focus();
					$("#userPwError1").show();
					return;
				}else{
					$("#userPwError1").hide();
				}

				loginForm.submit();
			}
		})


		/* 로그인 실패 컨트롤러*/
		console.log("loginChk: " + $("#loginChk").val());
		if($("#loginChk").val() == 'false'){
			alert("아이디 또는 비밀번호가 일치하지 않습니다.");
		}

		/* 비밀번호 찾기 컨트롤러 */
		let resultPw = $("#resultPw span").text();
		console.log("비밀번호 변경 결과: " + resultPw);

		if(resultPw == 0 && resultPw != ''){
			alert("비밀번호 변경이 완료되었습니다. 다시 로그인 해주세요.");
		}
	})



</script>
</body>
</html>