<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>
<head>
	<title>비밀번호 찾기 | 빵야빵야(屋)</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/idFind.css" />
	<link rel="icon" type="image/png"  href="/images/favicon.png"/>
	<style th:include="/main/header::header_style"></style>
	<style>
		.line_inp :not(button){
			border: solid 0px;
		}

		/* 로그인 구분 */
		.box {
			display: flex;
			justify-content: center;
			width: 550px;
			margin: 0 auto;
			cursor: pointer;
			padding: 1em;
			text-align: center;
		}

		.box li {
			width: 50%;
			cursor: pointer;
			list-style: none;
			float: left;
		}

		.box h4{
			margin-bottom: 0em;
		}

		.box a {
			font-size: 18px;
		}
	</style>
</head>
<body class="is-preload" style="padding: 5em 200px 0 200px;background-color: white;">

<!-- Header -->
<header id="header" th:include="/main/header::header_body">

</header>

<!-- Wrapper수정 -->
<!-- Main -->
<section class="cont_login container" id="inputView">
	<div class="box">
		<li style="border-right: 1px solid #dcdcdc">
			<h4><a href="/user/pwFind"><strong>일반회원</strong></a></h4>
		</li>
		<li>
			<h4><a href="/ceo/pwFindCEO"><strong style="color: #F9A825; border-bottom: 1px solid">사장님</strong></a></h4>
		</li>
	</div>
	<div class="box_login find_id">
		<form action="/ceo/pwFindCEO" method="post" id="pwFindForm">
			<h2 class="title">비밀번호 찾기</h2>
			<p class="info_text">비밀번호를 찾고자 하는 아이디를 입력해 주세요.</p>
			<p class="form_title">아이디</p>
			<div class="line" style="margin-bottom: 15px;">
				<input type="text" name="ceoId" id="userId" placeholder="가입하신 아이디를 입력해주세요" style="float: left;width: 77%;">
				<button type="button" id="findIdBtn">다음</button>
			</div>
			<p class="info_error" id="userIdError1">등록된 아이디가 존재하지 않습니다. 다시 입력 해주세요.</p>
			<p class="info_error" id="userIdError2">가입하신 아이디를 입력 해주세요.</p>
			<div class="phone_code" style="display: none">
				<p class="form_title">이름</p>
				<div class="line" style="margin-bottom: 15px;">
					<input class="inp" id="userName" name="ceoName" type="text" placeholder="이름(실명)을 입력해주세요.">
				</div>
				<p class="info_error" id="userNameError1">이름을 입력 해주세요.</p>
				<p class="form_title">휴대폰 번호</p>
				<div class="line" style="margin-bottom: 15px;">
					<input class="inp" id="userPhoneNum" name="phoneNum" type="tel" placeholder="휴대폰 번호를 - 없이 입력해주세요">
					<button type="button" id="goSMS">SMS 전송</button>
				</div>
				<p class="form_title">인증번호</p>
				<div class="line">
					<input class="inp" id="authNumber" name="authNumber" type="tel" placeholder="SMS로 수신된 인증번호 5자리를 입력해주세요">
					<input type="hidden" id="authCode"/>
					<button type="button" id="confirmBnt">인증</button>
				</div>
				<!-- 타이머 -->
				<p class="count" style="margin: 0em 23em 0em 0em;color: #F9A825;"><span class="timer"></span></p>
			</div>
			<!-- 비밀번호 찾기 컨트롤러 -->
			<div class="pwFindCnt" th:if="${result == 0}" style="display: none">
				<span th:text="${result}"></span>
			</div>
		</form>
	</div>
</section>
<!-- Footer -->
<footer id="footer" th:include="/main/footer::footer_body"></footer>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script th:replace="/main/header::header_js"></script>
<script type="text/javascript">
	let idCheck= false;		// 아이디 검사

	// '다음' 클릭 시 아이디 검사
	$('#findIdBtn').on("click", function () {
		// 아이디 공백 막기
		if(!$("#userId").val()){
			$("#userId").focus();
			$("#userIdError2").show();
			$("#userIdError1").hide();
			return;
		}else{
			$("#userIdError2").hide();
		}

		// DB에서 ID 조회
		$.ajax({
			url: '/user/idCheckCEO/' + $("#userId").val(),
			type: 'get',
			dataType: 'text',
			success: function (check) {
				// DB에 회원이 입력한 아이디존재 → 전화번호 인증
				if(check == "true"){
					console.log(check)
					$("#userIdError1").hide();
					$("#userIdError2").hide();
					idCheck = true;
					// 아이디가 존재할 경우 전화번호 인증가능
					if(idCheck){
						$(".phone_code").slideDown();
					}
				}else {
					// DB에 회원이 입력한 아이디 X
					console.log(check)
					$("#userIdError1").show();
					idCheck = false;
				}
			},
			error: function () {
				console.log("checkId() 오류");
			}
		});
	})


	let cnfCheck = false;
	let interval;
	// 휴대폰 인증 버튼 클릭시 해당 태그의 값으로 사용자가 입력한 '숫자'만 가져온다
	$(document).ready(function(){

		$('#userPhoneNum').on('keyup', function () {
			$(this).val($(this).val().replace(/[^0-9]/g, ""));	// 문자열에서 숫자(/[^0-9]/g)만 가져오기
		});

		// 인증번호 확인
		$(document).on('click', '#confirmBnt', function () {
			// 타이머의 숫자가 0초가 아닐 경우
			if ($('.timer').text() != "00:00") {
				// ajax for confirm validation auth number
				let authNumber = $('#authNumber').val();	// 인증번호
				let userPhoneNum = $('#userPhoneNum').val();	// 전화번호
				let authCode= $("#authCode").val();	//휴대폰 인증번호

				// 인증번호가 공백이 아니고 0 이상일 경우
				if (authNumber != '' && parseInt(authNumber) > 0) {	// val()로 받으면 문자열이기 때문에 형변환
					if(authNumber == authCode){
						cnfCheck = true;
						alert('휴대폰 번호 인증이 완료되었습니다. 감사합니다.');
						clearInterval(interval);	// 타이머 종료
						console.log("체크여부: "+cnfCheck);

						// 이름 공백 막기
						if (!$("#userName").val()){
							$("#userName").focus();
							$("#userNameError1").show();
							return;
						}else{
							$("#userNameError1").hide();
						}

						// 인증성공 + 아이디 검사 true일 경우에만 pwFindSuccess 로 이동
						if(cnfCheck && idCheck){
							$("#pwFindForm").submit();
							// 입력한 정보 초기화
							$("#userId").val("");
							$("#userName").val("");
							$("#userPhoneNum").val("");
							$('#authNumber').val("");
						}else if(!idCheck){
							// 만약 아이디 검사가 false일 경우
							$("#userId").focus();
							alert("아이디를 다시 확인 해 주세요");
						}

					} else {
						alert('인증번호가 일치하지 않습니다.');
						cnfCheck = false;
					}
					// 인증번호를 입력하지 않았을 경우
				}else{alert("인증번호를 입력 해 주세요"); cnfCheck = false;}
			} else {
				// 타이머 시간이 지났을 경우
				alert('인증번호 재발송을 눌러주세요.');
				cnfCheck = false;
				return false;
			}
		});

		// 인증번호 전송
		$(document).on('click','#goSMS', function () {
			let userPhoneNum = $('#userPhoneNum').val();	// 사용자가 입력한 전화번호
			let authCode= $("#authCode");	//휴대폰 인증번호 담을 변수

			// 사용자가 입력한 전화번호가 공백이 아니고, 8자리 이상일 경우
			if (userPhoneNum != '' && userPhoneNum.length > 8) {
				$.ajax({
					url: '/main/execute',
					method: 'get',
					data: {'userPhoneNum': userPhoneNum},
					success: function (response) {
						authCode.attr('value', response);
						console.log("input태그에 담긴 인증번호: " + authCode.val());

						$('.timer').text("02:00");
						countdown();
						alert('인증 번호가 발송 되었습니다.');
					},
					error: function(response) {
						alert('인증번호 발송에 실패하였습니다.\n잠시 후 다시 시도해주시기 바랍니다.')
					}
				});
			}else{
				alert("휴대폰 번호를 입력 해 주세요");
				$("#userPhoneNum").focus();
			}
		});

		/* 비밀번호 찾기 컨트롤러 */
		console.log($(".pwFindCnt span").text());
		let pwFindCnt = $(".pwFindCnt span").text();
		if(pwFindCnt == 0 && pwFindCnt != ''){
			alert("해당 전화번호로 가입된 이력이 존재하지 않습니다.");
		}
	});

	// 인증번호 타이머
	function countdown() {
		// 타이머 중지 clearInterval(종료할 함수명)
		clearInterval(interval);

		// 타이머 시작 setInterval(실행될 함수, 밀리초)
		interval = setInterval( function() {
			let timer = $('.timer').html();	// 2:00
			timer = timer.split(':');	// : 를 기준으로 나눈다
			let minutes = timer[0];	// 분
			let seconds = timer[1];	// 초
			seconds -= 1;	// 1초씩 감소

			// 만약 분 이 0이하 라면 종료
			if (minutes < 0) return;
			// 초 가 0 이하고, 분 이 0이 아닐 경우 → 1분 감소, 59초 부터 시작
			else if (seconds < 0 && minutes != 0) {
				minutes -= 1;
				seconds = 59;
			}
			// 10초 이하이고,
			else if (seconds < 10 && length.seconds != 2) seconds = '0' + seconds;
			$('.timer').html(minutes + ':' + seconds);
			// 만약 분, 초가 0일 경우 타이머 종료
			if (minutes == 0 && seconds == 0) clearInterval(interval);
		}, 1000);	// 1초마다 실행
	}
</script>
</body>
</html>